// Default --------------
$black   : #000000 !default;
$white   : #ffffff !default;

// Base ------------------
$base-bg     : $white;
$base-text   : #212121;
$base-link   : #0088cc;
$base-border : #bdbdbd;

// State --------------------

$red      : #fa5a6d;
$green    : #49A282;
$blue     : #26A0FF;
$orange   : #ff9800;
$yellow   : #FFDE00;
$purple   : #9B33DE;

// General ---------------

$green-1 : #53B18F;
$green-2 : #3B876C;
$light-blue : #F2F5F7;
$light-blue-1 : #F5F7F9;
$grey-base : #F2F2F2;
$grey-1 : #8e8e8e;
$grey-2 : #6a6a6a;
$grey-3 : #252525;
$grey-4 : #242424;

$grey-6 : #6e6e6e;
$grey-7 : #F7F7F7;

$grey-8  : #888888;
$grey-9  : #EBEBEB;
$grey-10 : #3d3d3d;

$borderColor    : #E1E1E1;
$inputColor     : $black;

$separator-bg   : #eee;

// Header ---------------
$header-logo-color : $white;
$header-bg         : $grey-3;

// Footer ----------------
$footer-bg           : #252525;
$footer-color        : #757575;
$footer-color-bottom : #868686;

// Buttons ---------------
$btn-base      : $black;
$btn-red       : $red;
$btn-yellow    : $yellow;
$btn-blue      : $blue;
$btn-grey      : $grey-10;
$btn-text      : $white;
$btn-green     : $green;
$btn-white     : $white;
$btn-orange    : $orange;
$green-hover   : $green-1;
$green-active  : $green-2;
