@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin lh($value) {
  line-height: $value;
  height: $value;
}

@mixin button($bg, $border, $color) {
  background-color: $bg;
  border-color: $border;
  color: $color;

  &:hover {
    background-color: scale-color($bg, $lightness : 15%);
    color: $color;
  }

  &:active,
  &:focus {
    background-color:darken($bg,5%);
    border-color:darken($border,5%);
    outline: none;
    color: $color;
  }
}

@mixin mobile-only {
  @media (max-width: #{$small-screen-down}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$small-screen}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$small-screen}) and (max-width: #{$medium-screen-down}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-screen}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-screen}) {
    @content;
  }
}

@for $i from 0 through 20 {

  $value: $i * 5;

  .m-b-#{$value} {
    margin-bottom: #{$value}px !important;
  }
}
