%noIndent {
  margin: 0;
  padding: 0;
}

// Clearfix
%clearfix {

  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%bg-cover {
  background: {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
}

%visually-hidden {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  margin: -1px!important;
  border: 0!important;
  padding: 0!important;
  clip: rect(0 0 0 0);
  overflow: hidden!important;
}