$header-height-xs : 50px;
$header-height : 72px;

$small-screen : 768px;
$small-screen-down : 767px;
$medium-screen : 992px;
$medium-screen-down : 991px;
$large-screen : 1200px;
$large-screen-down : 1199px;
