.alert {
  background-color: $white;
  padding: 15px 20px;
  border: 1px solid $black;
  border-radius: 3px;
  margin-bottom: 20px;

  &_error {
    background-color: #FFEDEF;
    border-color: $red;
  }

  &_warning {
    background-color: #F6F3E2;
    border-color: #D5D1BB;
  }

  &_success {
    background-color: #CBE8DE;
    border-color: $green;
  }

}