.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 30px;
  line-height: 56px;
  background-color: transparent;
  border: {
    width: 1px;
    style: solid;
    radius: 2px;
    color: $btn-base;
  }
  text: {
    align: center;
    decoration: none;
  }
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  outline: none 0;
  vertical-align: middle;
  @include no-select();

  &:focus {
    background-color: rgba($black, .05);
  }

  &.sm, &.md {
    font-size: 14px;
    padding: 0 20px;
  }

  &.sm {
   @include lh(36px);
  }

  &.md {
    @include lh(46px);
  }

  &-yellow {
    // button($bg, $border, $color)
    @include button($btn-yellow, $btn-yellow, $btn-base);
  }

  &-grey {
    @include button($grey-9, $grey-9, $btn-grey);
  }

  &-green {
    @include button($btn-green, $btn-green, $white);
  }

  &-white {
    @include button($white, $btn-green, $green);
  }

  &-reset {
    padding: 0;
    line-height: normal;
    border: 0;
    background-color: rgba($black, 0);
    text-align: left;
    font-size: 16px;
    text-transform: none;
  }

  @include mobile-only {
    width: 100%;
  }

  @include medium {
    font-size: 18px;
    padding: 0 30px;
  }

}

//search button

button.search_btn {
  background: $grey-base url(../img/svg/search.svg) no-repeat center center / 18px;
  width: 40px;
  height: 38px;
  border: 0;
  border-radius: 2px;

  &:active,
  &:focus {
    outline: none;
  }
}

// back link with arrow

.link_back {
  display: block;
  height: 82px;
  width: 58px;
  background: $grey-base url('../img/svg/left-arrow-green.svg') no-repeat center center / 10px;
}

// hum

.btn_hamburger {
  display: block;
  position: absolute;
  top: 20px;
  right: 25px;
  height: 25px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background: transparent;
  outline: none;
  width: 30px;
  -webkit-tap-highlight-color: transparent;
  transition: all .15s linear .15s;
  z-index: 1065;

  &:before {
    content: '';
    position: absolute;
    top: -20px;
    right: -15px;
    bottom: -20px;
    left: -15px;
    background: transparent;
  }

  &_icon {
    top: auto;
    bottom: 0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 30px;
    background: $white;
    transition-property: transform;
    transition-delay: .15s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: .15s;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 1px;
      background-color: $white;
      transition: transform .15s ease;
    }
    &:before {
      top: -8px;
      transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1),
      transform .15s cubic-bezier(.55, .055, .675, .19);
    }
    &:after {
      top: -16px;
      bottom: -10px;
      transition-property: bottom, transform;
      transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear;
    }
  }

  &.active {

    .btn_hamburger_icon {
      transform: translate3d(0, -10px, 0) rotate(-45deg);
      transition-delay: .32s;
      transition-timing-function: cubic-bezier(.215, .61, .355, 1);

      &:before {
        top: 0;
        transform: rotate(-90deg);
        transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333),
        transform .15s .42s cubic-bezier(.215, .61, .355, 1);
      }

      &:after {
        top: 0;
        transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .27s linear;
      }
    }
  }

  @include tablet {
    display: none;
  }
}

.close {
  border: 0;
  position: absolute;
  top: 20px;
  right: 25px;
  width: 30px;
  height: 30px;
  background: url('../img/svg/close.svg') no-repeat center center / 15px 15px;
  cursor: pointer;
  padding: 10px;
  transition: 250ms ease;

  &.grey {
    background-image: url('../img/svg/close-grey.svg');
  }

  &.white {
    background-image: url('../img/svg/close-white.svg');
  }
}
