.comments {

  &_list {
    padding-left: 5px;
    margin-bottom: 0;

    li {
      list-style: none;

      + li {
        margin-top: 15px;
      }

      ul {
        margin: 20px 0 0 20px;
      }
    }
  }

  &_item {
    display: flex;

    .user_avatar {
      margin-right: 10px;
    }

    .user_name {
      font-weight: 700;
    }

    .msg_date {
      font-size: 12px;
      color: #888888;
      margin: 2px 0 0 10px;
    }

    .user_msg {
      line-height: 20px;
    }
  }

  @include tablet {

    &_list {

      li {

        & + li {
          margin-top: 25px;
        }

        ul {
          margin-left: 80px;
        }
      }
    }
  }

}