.content {

  &-b {

    hr {
      margin: 0 -15px;
    }
  }

  &-i {
    background-color: $white;
    padding: 15px;
    margin: 0 -15px;
  }

  &--title {
    text-align: left;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
  }

  @include tablet {

    &-b {
      padding-top: 20px;

      .container {
        padding: 0;
      }

      hr {
        margin: 0;
      }
    }

    &-i {
      padding: 35px;
      margin: 0;

      &:last-child {
        margin-bottom: 20px;
      }
    }

    &--title {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 25px;
    }
  }

}