input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='tel'],
textarea,
.select,
.input{
  border: 1px solid $borderColor;
  color: $inputColor;
  outline: none;
  height: 38px;
  line-height: 38px;
  padding: 0 16px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 2px;
  -webkit-appearance: none;

  &:focus {
    &::-webkit-input-placeholder {
      color: transparent !important;
    }
    &::-moz-placeholder {
      color: transparent !important;;
    }
    &:-moz-placeholder {
      color: transparent !important;;
    }
    &:-ms-input-placeholder {
      color: transparent !important;;
    }
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset !important;
  }

  &.grey_bg {
    background-color: $grey-base;
    border: 0;
  }

  &:disabled {
    background-color: #F1F1F1;
  }

}

.input {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

input[type='file'] {
  @extend %visually-hidden;

  &:focus {
    outline: none;
    + label {
      outline: 1px solid rgba(131,192,253,0.5);
    }
  }

  + label {
    @extend .btn;
    @extend .btn-white;
  }
}

textarea {
  resize: none;
}

// custom select
select {
  width: 100%;
  display: block;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.type_wrap {

  &.grey_bg {
    background-color: transparent;

    .styledSelect {
      background-color: $grey-base;
      border: 0;
    }

    .select {
      border: 0;
    }
  }

  &.disabled {
    .styledSelect {
      background-color: $grey-base;
      pointer-events: none;
      cursor: auto;
    }
  }
}

.styledSelect {
  background-color: $white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

 @include tablet {
    background-position: 10px center;
    background-size: 18px;
    padding-left: 18px;
  }
}

.styledSelect:after {
  content: "";
  background: url("../img/svg/down-arrow-black.svg") no-repeat center center / contain;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 15px;
  width: 10px;
  height: 10px;
  z-index: 10;
}

.options {
  display: none;
  position: absolute!important;
  top: 1px;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 -1px;
  background-color: white;
  border-width: 0 1px 1px 1px;
  border-color: #E1E1E1;
  border-style: solid;
  padding: 5px 0;
  max-height: 180px;
  overflow: auto;
  box-shadow: 0 2px 4px rgba($black, .15);

  li {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $grey-base;
    }
  }

  @include tablet {
    padding: 5px 6px;
    margin: -2px -1x 0 -1px;

    li {
      padding: 0 13px;
    }
  }

}

// radio checkboxes

input[type='radio'],
input[type='checkbox'] {
  @extend %visually-hidden;

  &:focus {
    & + label {
      &:before {
        outline: 1px solid rgba(131,192,253,.2);
      }
    }
  }

  & + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 28px;
    margin-right: 15px;
    font-size: 13px;
    margin-bottom: 10px;

    &:before {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 1px;
      background-color: $white;
      border: 1px solid $borderColor;
      border-radius: 2px;
    }
  }
}

input[type='checkbox'] {

  &:checked + label:before {
    background: $white url('../img/svg/checked.svg') no-repeat center center  / 10px;
    border-color: $green;
  }
}

input[type='radio'] {

  + label {

    &:before {
      color: $green;
      text-align: center;
      line-height: 14px;
      font-size: 33px;
      background-color: $white;
      border: 1px solid $borderColor;
      border-radius: 9px;
    }

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: $green;
      position: absolute;
      left: 5px;
      top: 5px;
      opacity: 0;
    }
  }

  &:checked + label {
    &:before {
      border-color: $green;
    }
    &:after {
      opacity: 1;
    }
  }
}


// search user search

input[type='text'].search {
  height: 54px;
  border: 1px solid $borderColor;
  padding-left: 55px;
  background: url('../img/svg/search.svg') no-repeat 20px 15px / 18px;
  background-size: 18px 18px;
}

// range
.rangeslider,
.rangeslider__fill {
  display: block;
  border-radius: 10px;
}

.rangeslider {
  background: $green;
  position: relative;
}

.rangeslider--horizontal {
  height: 5px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: $red;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: white;
  border: 8px solid $red;
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
}


.rangeslider--horizontal .rangeslider__handle {
  top: -13px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}


// datepicker

.datepicker {
  
  &.datepicker-dropdown {
    background-image: linear-gradient(to bottom, $grey-base 0, $grey-base 45px, $white 45px, $white);
    padding-top: 8px;
  }

  table {
    table-layout: fixed;
  }

  thead {
    th.prev,
    th.next {
      text-indent: -9999px;
      font-size: 0;
      width: 28px;
      height: 28px;
      display: inline-block;
      border-radius: 50%;
      background-color: $white;
      background: {
        repeat: no-repeat;
      };

    }

    th.prev {
      background-image: url('../img/date-prev.png');
      background-position: 11px center;
    }
    th.next {
      background-image: url('../img/date-next.png');
      background-position: 13px center;
    }

    th.dow {
      border-bottom: 1px solid #DEDEDE;
      padding-top: 15px;
    }

  }

  tbody {
    tr{
      td {
        font-weight: 500;
      }

      td.day:nth-last-child(2),
      td.day:last-child {
       &:not(.active) {
         color: #9e0039;
       }
      }
    }
  }

  .datepicker-months {
    tbody {
      td {
        padding-top: 10px;
      }
    }
  }
}

// autocmplete

.autocomplete-suggestions {
  position: absolute;
  left: 2px;
  width: calc(100% + 2px);
  border:  solid $borderColor;
  border-width: 0 1px 1px 1px;
  background-color: $white;
  box-shadow: 0 2px 4px rgba($black, .15);
  color: #ababab;
  font-weight: 400;
  padding: 5px 4px;
  font-size: 16px;
  max-height: 400px;
  overflow: auto;
  margin-top: -2px;
  z-index: 150;

  &:empty {
    display: none;
  }

  b {
    font-weight: 700;
    color: $black;
  }
  > div {
    cursor: pointer;
    padding: 10px 0 10px 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $black;

    &:hover {
      background-color: #F4F4F4;
    }
  }
}

// datepicker

.daterangepicker {
  display: none;

  .ranges,
  .daterangepicker_input{
    display: none;
  }
}


.color_wrapper {
  height: 44px;
  line-height: 44px;
  border: 1px solid $borderColor;
  border-radius: 3px;
  padding: 0 12px;
  position: relative;
  margin-bottom: 10px;

  input{
    visibility: hidden;
  }

  .colorPicker-picker {
    position: absolute;
    right: 15px;
    top: 11px;
  }
}

