.content {
  background-color: $grey-base;
  padding-top: 20px;

  .title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 20px;
    text-align: left;
  }

  &_inner {
    margin: 0 -15px;
    background-color: $white;
    padding: 20px 15px 0;
  }

  [class^='col-'] {
    margin-bottom: 20px;
  }

  @include tablet {

    min-height: calc(100% - 413px);

    &_inner {
      padding: 0 35px;
    }

    .title {
      font-size: 30px;
      line-height: 1;
    }
  }

  @include medium {
    .left {
      margin-right: 0;
    }

    .right {
      margin-left: 0;
    }
  }
}

// info block with img

.info {
  background: url('../img/svg/alert_black.svg') no-repeat left top / 32px 32px;
  padding-left: 45px;
  min-height: 32px;

  p {
    color: #6e6e6e;
    font-size: 14px;
    line-height: 18px;
  }
}

// secondary navigation settings page
.secondary_nav {
  margin: 0;

  li {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;

    a {
      color: $black;
      display: block;
      font-size: 14px;
      font-weight: 700;
      height: 70px;
      line-height: 70px;
      text-transform: uppercase;
      position: relative;

      &:not(.active):after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        background-color: $red;
        transition: width 250ms ease-in-out;
        width: 0;
      }

      &:hover {

        &:after {
          width: 100%;
        }
      }

      &.active {
        border-bottom: 3px solid $red;
      }
    }

    &:not(:last-child) {
      margin-right: 35px;
    }

  }
}




// reverse flex

.flex {
  display: flex;
  flex-direction: column;
  &-row {
    flex-direction: row;
  }

  .flex-right {
    order: 2;
  }

  .flex-left {
    order: 1;
  }

  @include medium {
    flex-direction: row;

    .flex-right {
      order: 1;
    }

    .flex-left {
      order: 2;
    }
  }
}

.tab_link {
  cursor: pointer;
}

hr {
  margin: 0;
  height: 0;
  border-top: 1px solid $separator-bg;
}