// Popup style

.modal {
  position: relative;
  display: none;
  //top: $header-height;
  left: 0;
  width: 100%;
  overflow: auto;
  padding: 35px 40px;
  background-color: $white;
  z-index: 1050;

  h3 {
    margin: 0 0 30px;
    text-align: center;
  }

  input {
    margin-bottom: 20px;
    width: 370px;
    max-width: 100%;
    font-size: 16px;
  }

  .btn {
    padding: 0 32px;
    margin-top: 15px;
    width: auto;
  }

  .or {
    text-align: center;
    position: relative;
    margin-top: 20px;
    color: #909090;

    &:before {
      content: '';
      width: 100%;
      border-top: 1px solid $borderColor;
      position: absolute;
      top: 11px;
      left: 0;
      z-index: 1;
    }

    span {
      background-color: $white;
      position: relative;
      z-index: 2;
      padding: 0 12px;
    }
  }



  @include tablet {
    position: absolute;
    top: 120px;
    border-radius: 3px;
    transform: translateX(-50%);
    left: 50%;
    width: auto;
    height: auto;

    h3 {
      text-align: left;
      font-size: 30px;
    }

    .close {
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, .4);
  z-index: 1040;
  @include tablet {
    top: 0;
  }
}

