.pagination {
  @extend %clearfix;
  display: inline-block;
  background-color: $white;
  margin: 20px 0 0;

  .page_item {
    float: left;
    list-style: none;
  }

  .page_link {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $green;

    &.prev {
      background: url('../img/svg/left-arrow-grey.svg') no-repeat center center / 10px;
    }

    &.next {
      background: url('../img/svg/right-arrow-green.svg') no-repeat center center / 10px;
    }

    &.active {
      background-color: $green;
      color: $white;
    }
  }
}