.social {

  &_item {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    &:not(:last-child){
      margin-right: 23px;
    }

    a {
      display: block;
      height: 100%;
      background-color: #4F4F4F;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
      background-size: 15px;
      transition: 300ms;
    }
  }

  &:hover a:not(:hover) {
    background-color: transparent;
  }

  @media (min-width: 768px){
    text-align: right;

    &_item {
      width: 36px;
      height: 36px;
    }
  }

  @media (min-width: 992px) {
    text-align: left;
    margin-top: 5px;

    &_item {
      &:not(:last-child){
        margin-right: 6px;
      }
    }
  }
}

// login social btns

.social_login {

  margin: 25px -5px 0;

  &_item {
    height: 42px;
    line-height: 42px;
    padding: 0 5px;
    margin-bottom: 10px;
    list-style: none;

    a {
      display: block;
      color: $white;
      padding: 0 20px 0 40px;
      border-radius: 2px;
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: 16px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.social_share {
  display: flex;
  justify-content: flex-start;
  margin: 20px -5px 0;

  &.column {
    flex-direction: column;
    width: 155px;

    .social_share_item {
      flex-basis: auto;
    }
  }

  &_item {
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    margin-bottom: 10px;
    list-style: none;
    flex-basis: 90px;

    a {
      display: block;
      color: $white;
      padding: 0 20px 0 40px;
      border-radius: 2px;
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: 16px;;
      text-transform: uppercase;
      font-size: 13px;
      @extend %clearfix;
    }

    .counter {
      float: right;
    }
  }

  @include tablet {

    &_item {
      flex-basis: 155px;
    }

    &.column {
      flex-direction: row;
      width: auto;

      .social_share_item {
        flex-basis: 155px;
      }
    }
  }

  &_vertical {
    display: flex;
    flex-direction: column;
    width: 48px;
    position: absolute;
    top: 75px;
    z-index: 110;

    &_item {
      height: 66px;
      border-radius: 3px;
      margin-bottom: 14px;
      padding-top: 46px;
      display: block;
      background:  {
        color: $white;
        position: top 15px center;
        repeat: no-repeat;
        size: 16px;
      };
      overflow: hidden;
      transition: 250ms;

      &.vk {
        background-color: #4A74A5;

        &:hover {
          box-shadow: 0 3px 15px rgba(#4A74A5, .3);
        }
      }

      &.fb {

        &:hover {
          box-shadow: 0 3px 15px rgba(#3B5998, .3);
        }
      }

      &.tw {

        &:hover {
          box-shadow: 0 3px 15px rgba(#00ACED, .3);
        }
      }

      .counter {
        display: block;
        height: 20px;
        line-height: 20px;
        color: $white;
        text-align: center;
        font-size: 14px;
      }
    }

  }
}


$socials : fb, tw, g;
$socials-colors : #3B5998, #00ACED, #DD4B39;


@each $social in $socials {
  $i: index($socials, $social);
  .social_login_item .#{$social} {
    background-color: nth($socials-colors, $i);
    background-image: url("../img/svg/"+ $social +"-icon.svg");

  }
}

$footer-socials : fb, tw, g, in, vk;
$footer-socials-colors : #3B5998, #00ACED, #DD4B39, #38669C, #4A74A5;


@each $social in $footer-socials {
  $i: index($footer-socials, $social);
  .social_item .#{$social} {
    background-image: url("../img/svg/"+ $social +"-icon.svg");
  }
}


$share-socials : fb, tw, g, in, vk;
$share-socials-colors : #3B5998, #00ACED, #DD4B39, #38669C, #4A74A5;


@each $social in $share-socials {
  $i: index($share-socials, $social);
  .social_share_item .#{$social} {
    background-color: nth($share-socials-colors, $i);
    background-image: url("../img/svg/"+ $social +"-icon.svg");
  }
}

$share-socials : fb, tw, g, in, vk;
$share-socials-colors : #3B5998, #00ACED, #DD4B39, #38669C, #4A74A5;


@each $social in $share-socials {
  $i: index($share-socials, $social);
  .social_share_vertical_item.#{$social} {
    background-image: url("../img/svg/"+ $social +"-icon-filled.svg");

    .counter {
      background-color: nth($share-socials-colors, $i);
    }
  }
}