.table {
  table-layout: fixed;
  width: 100%;

  thead {
    th {
      text-align: left;
    }
  }

  th {
    border-top: 2px solid $borderColor;
    border-bottom: 2px solid $borderColor;
    padding: 12px 10px;
    text-align: left;
  }

  td {
    padding: 15px 10px;
    border-bottom: 1px solid $borderColor;
  }

  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  // responsive table with data attributes
  &.responsive {

    @include mobile-only {

      thead {
        display: none;
      }

      tr {

        td {
          display: block;
          padding: 4px 15px;
          border-bottom: 0;

          &:first-child {
            padding-top: 20px;
          }

          &:last-child {
            padding-bottom: 20px;
            border-bottom: 1px solid $borderColor;
          }

          &:before {
            content: attr(data-attr);
            padding-right: 10px;
          }

          &.name,
          &.mail {
            font-weight: 700;

            &:before {
              font-weight: 700;
            }
          }

          &.edit {
            color: $red;
            &:before {
              display: none;
            }
          }
        }
      }
    }

    @include tablet {
      tr {
        td {
          display: table-cell;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}

.table_wrap {
  margin: 0 -15px;


  @include tablet {
    margin: 0 -35px;
  }
}