.tooltip {
  position: relative;
  cursor: default;

  &:hover {
    .tooltip-text {
      opacity: 1;
      visibility: visible;
      top: 92%;
    }
  }

  &-text {
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
    color: $black;
    cursor: default;
    position: absolute;
    top: calc(92% + 10px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    background-color: $white;
    padding: 10px 20px;
    line-height: 18px;
    text-align: center;
    min-width: 210px;
    z-index: 190;
    transition: 300ms ease-in-out;
    border: 1px solid $borderColor;

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      margin-left: -7px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }

    &:before {
      border-bottom: 7px solid $borderColor;
      top: -8px;
    }

    &:after {
      border-bottom: 7px solid $white;
      top: -7px;
    }
  }
}