.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

.float {
  &-left {
    float: left !important;
  }

  &-right {
    float: right !important;
  }

}

.no-padding {
  padding: 0;
}

.overflow-hidden {
  overflow: hidden!important;
}

.center {
  text-align: center!important;
}

.no-border {
  border: 0!important;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.green {
  color: $green!important;
}

.white {
  color: $white;
}

.grey {
  color: $grey-1;
}

.purple-bg {
  background-color: #9C3BDD;
}

.green-bg {
  background-color: $green;
}

.blue-bg {
  background-color: $blue;
}

.dark-grey_bg {
  background-color: #E0E0E0;
}

.d-block {
  display: block;
}

.grey_bg {
  background-color: #F3F3F3;
}

.wh-bg {
  background-color: $white;
}

.title-lg {
  font-size: 24px;
  font-weight: 700;
}

.title-md {
  font-size: 18px;
  font-weight: 700;
}

.title-xs {
  font-size: 13px;
}

.align-left {
  text-align: left!important;
}

.align-right{
  text-align: right!important;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.b-dotted {
  border-bottom: 1px dotted;
}

.cover-bg {
  @extend %bg-cover;
}

@media (min-width: $small-screen) {
  .hidden-sm-up {
    display: none;
  }
}



@include tablet {
  .flex-sm {
    display: flex;
  }

  .align-items-sm-center {
    align-items: center;
  }

  .margin-t-sm-30 {
    margin-top: 30px !important;
  }

  .margin-t-sm-50 {
    margin-top: 50px !important;
  }

  .margin-t-sm-80 {
    margin-top: 80px !important;
  }

  .margin-t-sm-110 {
    margin-top: 110px !important;
  }

  .margin-t-sm-120 {
    margin-top: 120px !important;
  }

  .margin-t-sm-150 {
    margin-top: 150px !important;
  }

  .margin-t-sm-160 {
    margin-top: 160px !important;
  }

  .margin-t-sm-180 {
    margin-top: 180px !important;
  }

  .margin-t-sm-190 {
    margin-top: 190px !important;
  }

}

.align-items-center {
  align-items: center;
}

.visually-hidden {
  @extend %visually-hidden;
}