.settings {

  .paid_method {

    .sub_title {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 5px;
    }

    form {
      margin: 0 -15px;
      padding: 20px 15px 0;
      border-top: 2px solid $borderColor;

      input[type='radio'] {
        +label {
          @extend .btn;
          border-color: #CECECE;
          color: #8f8f8f;
          margin: 0 8px 25px 0;
          width: 75px;
          display: inline-block;
          padding: 0;

          &:before,
          &:after {
            display: none;
          }
        }

        &:checked {
          + label {
            @extend .btn-white;
          }
        }
      }

      .btn {
        @extend .sm;
      }
    }

    .paid_wrapper {

      .paid_block {
        margin-bottom: 15px;

        .paid_inner {
          border: 1px solid transparent;
          background-color: #EBEBEB;
          border-radius: 3px;
          padding: 17px 20px;

          &.active {
            border-color: $green;
            background-color: transparent;

            .props {
              display: block;
            }

          }
        }

        .props {
          margin-top: 30px;
          display: none;
          .btn {
            margin: 15px 0 0;
          }
        }

        img {
          max-height: 50px;
          width: auto;
          max-width: 100%;
          margin-bottom: 15px;
          vertical-align: baseline;
        }

        .paid_title {
          color: $black;
          font-weight: 700;
          margin-bottom: 5px;
          font-size: 14px;
        }

        span {
          display: block;
          margin-bottom: 25px;
        }

        .paid_info {
          font-size: 13px;
          color: $grey-6;
        }

      }
    }

  }

  @media (min-width: 768px) {

    .paid_method {

      h2 {
        margin-bottom: 30px;
      }

      form {
        margin: 0 -35px;
        padding: 20px 35px 0;

        input[type='radio'] {
          +label {
            margin-bottom: 20px;
          }
        }

        .tel_input {
          display: block;
          width: 33%;
        }
      }

      .paid_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 35px;

        .paid_block {
          width: 33.333%;
          margin-bottom: 4px;

          .paid_inner {
            background-color: #EBEBEB;
            border-radius: 3px;
            padding: 17px 35px;
            margin: 2px;
            height: 100%;
            cursor: pointer;
            &.active {
              .props {
                display: none;
              }
            }
          }

          img {
            max-height: 50px;
            width: auto;
            max-width: 100%;
            margin-bottom: 15px;
            vertical-align: baseline;
          }

          .paid_title {
            color: $black;
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 14px;
          }

          span {
            display: block;
            margin-bottom: 25px;
          }

          p {
            font-size: 13px;
            color: $grey-6;
          }

          .props {
            margin-bottom: 25px;
          }

        }
      }

    }

  }

}

