.settings {


  // add new user form
  form {

    &.add_users {

      input[type='text'],
      input[type='email'] {
        margin-bottom: 20px;
      }

      input[type='checkbox'] + label {
        font-size: 14px;
        text-transform: none;
      }

      .btn {
        min-width: 190px;
      }
    }
  }


  // tables with users
  .users {

    // table list with users
    &_list {
      padding-bottom: 0;

      .add_users_link {
        font-size: 14px;
        text-transform: uppercase;
        margin-right: -10px;
        margin-top: -8px;
      }

      .table {
        td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    // access user list
    &_access_block {
      padding: 9px 7px 9px 10px;
      border: 1px solid $borderColor;
      border-radius: 3px;
      margin: 10px 0 15px;

      + .btn {
        margin-bottom: 45px;
      }
    }

    &_access_list {
      margin: 0;
      max-height: 150px;
      overflow: auto;

      li {
        list-style: none;

        input[type='checkbox'] + label {

          &:before {
            width: 15px;
            height: 15px;
            background-size: 9px;
          }
        }

        input[type='checkbox']:checked + label {
          font-weight: 700;
          color: $black;

          &:before {
            border-color: $black;
            background-image: url('../img/svg/checked-black.svg');
          }
        }
      }
    }
  }


  @media (min-width: 768px) {

    .users {

      &_list {

        h2 {
          margin-bottom: 30px;
        }

        .search_wrap {
          display: none;
        }

        .table {
          margin: 0 -35px;
          width: auto;

          th {
            width: 19%;
            border-top: 2px solid $borderColor;
            border-bottom: 2px solid $borderColor;
            padding: 12px 10px;

            &:first-child {
              padding-left: 35px;
            }

            &:last-child {
              width: 4%;
              padding-right: 25px;
            }

          }
          td {
            width: 19%;
            max-width: 190px;
            padding: 15px 10px;
            border-bottom: 1px solid $borderColor;

            &:first-child {
              padding-left: 35px;
            }

            &:last-child {
              width: 4%;
              padding-right: 25px;
            }

            .edit_text {
              display: none;
            }

            .edit_icon {
              background: url('../img/pencil.png') no-repeat center center;
              width: 23px;
              height: 23px;
              display: block;
              cursor: pointer;
              border: 0;
            }

          }

          tr {
            &:last-child {
              td {
                border-bottom: 0;
              }
            }
          }
        }
      }

      &_access_block {
        + .btn {
          margin-bottom: 0;
        }
      }
    }
  }
}

.modal.settings {
  padding: 25px 15px 0;
  background-color: $white;

  .user_info {
    background-color: $grey-base;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    margin: 0 -15px 20px;
    padding: 18px 15px;

    .name {
      font-weight: 700;
      font-size: 18px;
    }

    .mail {
      font-size: 14px;
    }
  }

  .users_access_list {
    max-height: 198px;
  }

  @include tablet {
    top: 155px;
    border-radius: 10px;
    min-width: 486px;
    min-height: inherit;
    padding: 20px 35px 35px;
    transform: translate(-50%, 0);

    h3 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .user_info {
      margin: 0 -35px 20px;
      padding: 18px 35px;
    }

    .users_access_list {
      max-height: 108px;
    }
  }
}
