.settings {

  .settings_cashback {

    .settings_block {
      h2 {
        font-size: 18px;
        margin: 0 0 20px;
      }

      > .btn {
        margin-top: 0;
        margin-right: 15px;
      }
    }

    .dns_block {
      max-width: 612px;
      margin-bottom: 10px;

      &.error {

        input {
          border-color: $red;
          background: {
            image: url('../img/svg/dns_icon_red.svg');
            repeat: no-repeat;
            position: right 10px center;
            size: 23px 23px;
          };
        }
      }

      &.valid {
        input {
          background: {
            image: url('../img/svg/accept_filled.svg');
            repeat: no-repeat;
            position: right 10px center;
            size: 24px 24px;
          };
        }
      }

      .alert {
        border: 0;

        color: #79252f;
      }
    }

    .input_dns {
      margin-bottom: 20px;

      label {
        color: $black;
        text-transform: none;
        font-size: 14px;
        display: block;
        margin-bottom: 3px;
      }

      .btn {
        margin: 0;
        line-height: 44px;
        height: 44px;
      }

    }

    .upload_wrap {
      margin-bottom: 30px;
    }

    &.success {

      .settings_block {
        &:last-of-type {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }

      > h2 {
        text-align: center;
       @include mobile-only {
         padding: 0 35px;
       }
      }

      img {
        width: 150px;
        display: block;
        margin: 0 auto 40px;
      }

      > .btn {
        padding: 0 30px;
        font-size: 14px;
        display: block;
        margin: 0 auto 40px;
        max-width: 270px;
      }

      label {
        color: $black;
        text-transform: none;
        font-size: 14px;
        margin-bottom: 3px;
      }
    }

    .dns_sub_list {
      counter-reset: dns-list;
      margin-left: 15px;
      margin-bottom: 0;
      font-weight: 700;
      list-style: none;

      li {
        position: relative;

        &:not(:last-child) {
          margin-bottom: 35px;
        }

        &:last-child {
          margin-bottom: 5px;
        }

        &:before {
          content: counter(dns-list);
          counter-increment: dns-list;
          position: absolute;
          left: -15px;
          top: 0;
          display: block;
        }

        div {
          font-weight: 400;
        }
      }

    }
  }


  @media (min-width: 768px) {

    .settings_cashback {

      > h2 {
        margin-bottom: 30px;
        padding: 0;
      }

      .settings_block {
        h2 {
          margin-bottom: 15px;
        }

        .logo_img {
          height: 60px;
        }
      }

      .range_wrap {
        margin-top: 10px;
      }

      .input_dns {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          flex-basis: 125px;
        }

        input {
          margin: 0 8px 0 0;
        }

        .btn {
          padding: 0 30px;
        }

        + p {
          margin-top: 35px;
        }
      }

      .dns_sub_list {
        margin-left: 40px;

        li {

          &:before {
            border: 1px solid $borderColor;
            border-radius: 14px;
            width: 28px;
            height: 28px;
            text-align: center;
            line-height: 26px;
            left: -38px;
          }
        }

      }
    }

  }

}

.dns_alert {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
  background:  {
    image: url("../img/svg/account_dns_error.svg");
    position: center top 20px;
    size: 25px 25px;
    repeat: no-repeat;
  };

  p {
    font-size: 18px;
    color: $black;
  }

  @include tablet {
    flex-direction: row;
    background-position: left 20px center;
    background-size: 36px 36px;
    padding-left: 85px;
    padding-top: 15px;

    p {
      font-size: 21px;
      margin: 0;
    }
  }
}