.settings {

  h2 {
    text-align: left;
    margin: 15px 0;
  }

  form {

    label {
      font-size: 12px;
      line-height: 18px;
      color: $grey-2;
      text-transform: uppercase;
    }

    input[type='text']:not(.search),
    input[type='email'],
    input[type='password'],
    input[type='date'],
    input[type='tel'],
    select,
    .select,
    .input{
      height: 42px;
      line-height: 42px;
    }

    .info {
      margin: 18px 0 0;

      p {
        max-width: 520px;
      }
    }

    .range {

      &_wrap {
        margin-top: 10px;
        margin-bottom: 22px;
      }

      &_head {
        color: $grey-2;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      &_values {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
        color: $black;
      }
    }

    .btn {
      margin: 20px 0 25px;
      font-size: 14px;
      text-transform: uppercase;
    }

    &.add_users {

      input[type='text'],
      input[type='email'] {
        margin-bottom: 20px;
      }

      input[type='checkbox'] + label {
        font-size: 14px;
        text-transform: none;
      }

      .btn {
        min-width: 190px;
      }
    }
  }

  // custom block with bottom border
  .settings_block {
    border-top: 1px solid $borderColor;
    padding: 25px 15px;
    margin: 0 -15px 0;

    &:last-of-type {
      border-bottom: 1px solid $borderColor;
      padding-bottom: 0;
    }

    &:nth-of-type(2) {
    //  margin-top: 15px;
    }

    h5 {
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 10px;
    }
    .logo_img {
      background: {
        repeat: no-repeat;
        size: cover;
        position: center center;
      }
    ;
      border: 1px solid $borderColor;
      border-radius: 3px;
      height: 80px;
      width: 160px;
      margin-bottom: 15px;
    }

    .logo_info {

      p {
        font-size: 14px;
        line-height: 18px;
        margin-top: 5px;
      }
    }

    .input_group {

      p {
        font-size: 14px;
        line-height: 18px;
        color: $grey-6;
        margin-bottom: 25px;
      }
    }

    textarea {
      height: 100px;
    }

    .upload_btn {
      width: 160px;
      padding: 0 30px;
      margin: 15px 0 0;
    }

  }

  .pagination {
    margin: 0 0 20px;
  }



  @media (min-width: 768px) {
    background-color: $grey-base;
    min-height: calc(100% - 413px);

    h2 {
      font-size: 30px;
      line-height: 30px;
      margin: 0 0 20px;
    }

    &_inner {
      background-color: $white;
      padding: 30px 35px 35px;
      margin: 20px -15px;
    }

    form {
      input[type='text']:not(.search),
      input[type='email'],
      input[type='password'],
      .select,
      .input{
        height: 44px;
        line-height: 44px;
      }

      .btn {
        margin-bottom: 0;
      }

    }

    .input_group {
      margin-bottom: 10px;
    }

    .settings_block {
      margin: 0 -35px;
      padding: 32px 35px 30px;

      .logo_wrap {
        float: left;
        margin-right: 28px;

        .logo_img {
          margin-bottom: 0;
        }
      }

      .upload_wrap {
        clear: both;

        .btn {
          margin-top: 7px;
        }
      }
    }
  }
}

.logos_list {
  margin-bottom: 20px;

  img {
    width: 100%;
    max-width: 350px;
    border: 1px solid $base-border;
    margin-bottom: 10px;
    padding: 10px 15px;
    transition: 200ms;
    &.active {
      border: 3px solid $green;
    }
  }

  @media (min-width: 768px) {

    img {
      height: 72px;
    }
  }
}