.settings {

  .settings_api {

    .info {
      background-image: url('../img/tools-alert.png');
      background-color: #F9F4EA;
      background-position: 12px 18px;
      padding: 15px 12px 15px 50px;
      border-bottom: 0;
      color: $white;

      b {
        padding-bottom: 10px;
        display: block;
      }
    }
    &_block {
      @extend %clearfix;
      margin: 0 -15px;
      border-bottom: 1px solid $borderColor;
      padding: 15px;

      &:nth-of-type(2) {
        border-top: 1px solid $borderColor;
        margin-top: 20px;
      }

      .api_logo {
        @extend %clearfix;
        margin-bottom: 25px;

        img {
          width: 25px;
          float: left;
          margin-right: 18px;
        }

        p {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 14px;
          margin-top: 3px;
        }
      }

      .api_info {
        label {
          b {
            text-transform: none;
            color: $black;
          }
        }

        p {
          display: none;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 14px;
          margin: 0;
          line-height: 1;
        }
      }

      .btn {
        margin-top: 5px;
        margin-bottom: 20px;
        padding: 0 15px;
        height: 44px;
        line-height: 44px;
      }
    }

  }


  @media (min-width: 768px) {

    .settings_api {

      .info {
        padding: 30px 30px 25px 70px;
        background-position: 20px 30px;

        p {
          max-width: none;
        }
      }

      &_block {
        margin: 0 -35px;
        padding: 35px;

        .api_logo {
          margin-bottom: 25px;
          float: left;
          margin-right: 30px;

          img {
            float: none;
            width: 60px;
          }

          p {
            display: none;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            margin-top: 3px;
          }
        }

        .api_info_wrap {
          float: right;
          width: calc(100% - 110px);
        }

        .api_info {
          p {
            display: block;
            margin-bottom: 10px;
          }

          .btn {
            float: right;
            width: 134px;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
          }

          input[type='text'] {
            float: left;
            width: calc(100% - 139px);
            margin-bottom: 20px;
          }
        }
      }

    }

  }
}

