.settings {

  .transaction_history {

    .title {
      margin: 15px 0;
    }

    .btn {
      margin-bottom: 20px;
    }

    .table_wrapper {
      margin: 0 -15px;

      .table {
        table-layout: auto;
      }

      td, th {
        padding-left: 20px;
      }

      td.status {
        width: 60%;
      }

    }
  }

  @media (min-width: 768px) {

    .transaction_history {
      padding-bottom: 0;

      .title {
        margin-top: 0;
        float: left;
      }

      .btn {
        float: right;
      }

      .table_wrapper {
        margin: 0 -35px;

        td:nth-child(2) {
          width: 62%;
        }

        td.status {
          width: auto;
        }

        td, th {

          &:first-child {
            padding-left: 35px;
          }
        }

      }
    }

  }

  @include medium {
    .transaction_history {

      .table_wrapper {

        td:nth-child(2) {
          width: 56%;
        }
      }
    }

  }

  @include large {
    .transaction_history {

      .table_wrapper {

        td:nth-child(2) {
          width: 60%;
        }
      }
    }
  }
}

