.widget {

  select {
    display: block;
    width: 100%;
  }

  textarea {
    height: 225px;
  }

  &_code {
    background-color: #F9F5ED;
    border: 0;
    padding: 15px;
    font-size: 14px;
    color: $black;
    line-height: 26px;
  }

  &_inner {
    background-color: $white;
    padding: 15px;

    .btn {
      margin: 0 0 10px;
    }
  }

  &_form {
    input,
    .select,
    .color_wrapper {
      //  margin-bottom: 26px;
    }

    .colorPicker-palette {
      position: absolute;
      width: 116px;
      padding: 2px;
      z-index: 9999;
      right: -2px !important;
      top: 40px !important;
      left: auto !important;
      box-shadow: 0 0 0 2px #fff, 0 0 0 3px #E1E1E1;
      display: none;

      &:before,
      &:after {
        content: '';
        position: absolute;
        right: 22px;
        border-style: solid;
        border-width: 0 5px 6px;
      }

      &:before {
        top: -8px;
        border-color: rgba($black, .0) rgba($black, .0) #E1E1E1;
      }

      &:after {
        top: -6px;
        border-color: rgba($black, .0) rgba($black, .0) $white;
      }
    }
  }

  &_form_preview {
    padding-top: 10px;
    background-color: #E0E0E0;
    transition: background-color 300ms;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;

    h5 {
      font-size: 14px;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 10px;
    }

    .color_custom {
      background-color: $black;
      padding: 20px 45px 20px 0;

      .flex {
        justify-content: flex-end;
      }

      label {
        font-weight: 400;
        color: $white;
        margin-bottom: 0;

        &:before {
          border: 1px solid $white;
        }

        &.black {
          &:before {
            background-color: $black;
          }
        }
        &.grey {
          &:before {
            background-color: $grey-base;
          }
        }
        &.white {
          &:before {
            background-color: $white;
          }
        }

        &.sm {
          font-size: 12px;
          color: #6e6e6e;
          line-height: 1;
        }
      }

      input + label {
        padding: 0 9px;
        margin: 0 3px;
      }

      input[type='radio'] {
        &:checked {
          + label:after {
            display: none;
          }
        }
      }

      input[type='text'] {
        @include lh(22px);
        width: 100px;
        padding: 0 5px;
        margin-right: 3px;
        font-size: 12px;
        margin-left: 15px;
        margin-bottom: 0;
      }
    }

    &.dark {

      h5 {
        color: $white;
      }
    }
  }

  .js-forms {
    background-color: $white;
    margin: 0 auto 15px;
    padding: 15px;
  }

  .btn-copy {
    width: auto;
  }

  &_link {
    margin: 15px 0 25px;
    text-decoration: dotted;
    font-size: 14px;
    text-align: left;
    text-transform: none;
    padding: 0;
    display: inline-block;
    border-bottom: 1px dotted $black;
    width: auto;
    border-radius: 0;
  }

  &_type {
    margin-bottom: 10px;

    .widget_title {
      font-size: 12px;
      color: #6e6e6e;
      line-height: 18px;
      margin-bottom: 20px;
    }

    label {
      text-transform: none;
      color: $black;
      font-size: 14px;
      line-height: 1.25;
      margin-right: 0;

      span {
        font-size: 12px;
        color: #8a8a8a;
        display: block;
      }
    }
    svg {
      display: block;
      margin-top: 10px;
      margin-left: -28px;
    }

    .use_icon {
      transition: 300ms;
      fill: #E6E6E6;

      &.svg_border {
        fill: red !important;
      }
    }

    svg path {
      fill: inherit;
    }

    input[type='radio'] {

      &:checked {

        + label {

          .use_icon {
            fill: #A6DCCA;
          }

        }
      }
    }

  }

  .tooltip-text {
    margin-left: -28px;
    margin-top: 5px;
    display: none;

    img {
      width: 100%;
    }

    &.form-lg {
      left: 0;
      transform: none;
      width: 490px;

      &:after,
      &:before {
        left: 75px;
      }
    }

    &.form-md {
      width: 420px;
    }

    &.form-sm {
      width: 370px;
    }

    &.form-xs {
      width: 182px;
      margin-top: 9px;
    }
  }

  .code_label {
    text-transform: uppercase;
    line-height: 30px;
  }

  &_settings {

    .input_group {
      margin-bottom: 20px;
    }

    input, .input {
      margin-bottom: 0;
    }
  }

  @include tablet {

    .static {
      padding-left: 0;
    }

    &_form {
      .colorPicker-palette {
        width: 202px;
      }
    }

    .tooltip-text {
      display: block;
    }

    &_wrapper {
      background-color: $white;
      padding: 35px;
      margin-left: -15px;
    }

    &_form_preview {
      display: block !important;
      position: static;

      .close {
        display: none;
      }
    }
    .js-forms {
      border: 1px solid $borderColor;
      margin: 0 auto;

      &:before {
        display: block;
      }

      .btn {
        width: 100%;
        margin: 0;
      }

      .color_custom {
        padding-right: 15px;
      }
    }

    &_settings {
      .input_group {
        margin-bottom: 0;
      }
    }
  }

  @include medium {

    &_form_preview {

      .color_custom {

        .bg_title {
          margin-right: 5px;
        }
      }
    }

  }

  @include large {

    &_form_preview {
      padding-top: 20px;

      h5 {
        margin: 0;
      }

      br {
        display: none;
      }

      .color_custom {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .js-forms {
      margin: 15px 55px 40px;
    }
  }
}

.hotel_tag {
  @include lh(35px);
  background-color: $red;
  color: $white;
  position: relative;
  display: inline-block;
  margin: 3px;
  padding: 0 45px 0 15px;
  border-radius: 1px;

  .hotel_close {
    background-color: #E24759;
    top: 1px;
    bottom: 1px;
    right: 1px;
    height: auto;
    z-index: 10;
  }
}