.guide {
  height: auto !important;

  &__intro {
    @extend %bg-cover;
    padding: 35px 15px 30px;

    &__wrapper {
      @extend %bg-cover;
      background-image: url('../img/guide/bg.jpg');
    }

    h1 {
      margin-bottom: 40px;
      font-size: 36px;
      line-height: 42px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__block {
    border-bottom: 1px dashed $borderColor;
    padding: 30px 15px 30px;
    position: relative;

    .container {
      padding: 0;
    }

    &-final {
      padding-bottom: 45px;
      border-bottom: 0;
      margin: 25px 0;

      .guide__step {
        font-size: 28px;
        margin-bottom: 10px;
      }

      .guide__title {
        font-size: 22px;
      }
    }

    .flex-sm {
      margin-top: 20px;

      + p {
        margin-top: 10px;
      }
    }

    p {
      font-size: 14px;
      line-height: 22px;

      + p {
        margin-top: 20px;
      }

      + img {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      + h5 {
        margin-top: 20px;
      }
    }

    div {
      + p {
        margin-top: 15px;
      }
    }

    img {
      max-width: 100%;
      margin-bottom: 20px;
    }

    h5 {
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      margin-bottom: 20px;
    }
  }

  &__head {
    margin-bottom: 30px;
  }

  &__step,
  &__title {
    font-size: 21px;
  }

  &__step {
    color: $green;
    padding-right: 28px;
    border-bottom: 2px solid $green;
    display: inline-block;
    position: relative;
    cursor: pointer;

    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: 7px;
      top: 10px;
      width: 10px;
      height: 10px;
      background: {
        position: center;
        image: url('../img/svg/down-arrow-green.svg');
        repeat: no-repeat;
        size: 10px 7px;
      }
      transition: 300ms;
    }

    &.final {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }

  &__title {
    display: inline;
    line-height: 36px;

    span {
      font-size: 12px;
      color: #7b7b7b;
      font-weight: 400;
    }
  }

  &__list {
    list-style: none;
    margin: 0;

    li {
      font-size: 14px;
      position: relative;
      line-height: 22px;

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        background-color: $green;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  &__text {
    padding: 15px;
    border: 1px dashed #CDCDCD;
    list-style-position: inside;
    margin: 0;
  }

  &__tabs {

    &__block {

      display: none;

      &.active {
        display: block;
      }

      img {
        margin-bottom: 20px;
      }

      .settings {
        border-radius: 3px;
        overflow: hidden;
        padding-top: 15px;

        p {
          padding: 0 15px;
        }

        img {
          margin-top: 10px;
          margin-bottom: 0;
        }
      }

    }

    &__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      &__item {
        width: 7px;
        height: 7px;
        margin: 3px 0;
        border-radius: 50%;
        background-color: $green;
        cursor: pointer;
        transition: 300ms;

        &.active {
          width: 13px;
          height: 13px;
        }
      }

    }
  }

  &__tooltip {
    background-color: $green;
    color: $white;
    font-size: 14px;
    line-height: 24px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 100;

    ul,ol {
      margin-bottom: 0;
    }

    .tooltip__arrow {
      position: absolute;
      opacity: 0;
      transition: 250ms ease-out 500ms;

      &.left {
        right: 100%;
      }

      &.right {
        left: 100%;
      }

      &.bottom {
        top: 100%;
      }
    }

  }

  &__img {
    position: relative;
    display: inline-block;

    img {
      position: relative;
      z-index: 10;
    }

    &:after {
      content: '';
      box-shadow: 0 10px 15px rgba($black, .15);
      border-radius: 50%;
      position: absolute;
      left: 5%;
      right: 5%;
      bottom: 0;
      height: 15px;
      z-index: 1;
    }
  }

  &.v1 {

    .guide__intro {

      h1 {
        font-size: 29px;
        font-weight: 300;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        + p {
          margin-top: 10px;
        }
      }

      .bold {
        font-weight: 700;
      }

      ol {
        font-size: 14px;
        list-style-position: inside;
        color: $white;
        margin-bottom: 0;
        li {
          a {
            color: $white;
            border-bottom: 1px solid;
            line-height: 24px;
          }
        }
      }

    }

    .guide__step {
      padding-right: 0;
      &:after {
        display: none;
      }
    }

    .guide__step,
    .guide__title {
      font-size: 24px;
    }

    ul, ol {
      list-style-position: inside;
    }

    ul {
      margin-top: 10px;
    }

    .guide__block {
      border-bottom: 0;
      padding-bottom: 0;

      p {
       /// margin-bottom: 25px;
      }

      h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
      }

      .thumbs {
        padding-top: 30px;
        margin-bottom: 20px;
        img {
          height: 160px;
          margin-bottom: 15px;
        }
      }

      &__inner {
        margin-top: 20px;

        p {
          margin-bottom: 15px;
        }

        > div {
          padding: 30px 15px;

          img {
            display: block;
            margin: 0 auto;
          }

          .arrow-down {
            margin: 25px auto;
          }

          img.visible-xs {
            margin-top: 25px;
          }
        }

        @include mobile-only {
          .tab_block {
            display: inline-block!important;
          }
        }
      }
    }
  }

  @include mobile-only {
    &__nav {
      display: none;
      position: absolute;
      left: 0;
      top: 32px;
      background-color: $green;
      padding: 15px;
      list-style-position: inside;
      margin: 0;
      z-index: 100;

      li {
        color: $white;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0;

        a {
          color: $white;
        }
      }
    }
  }

  @include tablet {

    &__intro {
      padding-left: 50px;
      margin-top: 20px;
      margin-bottom: 45px;
      text-align: center;

      h1 {
        font-size: 40px;
      }

      p {
       // max-width: 450px;
      }
    }

    &__title,
    &__step {
      font-size: 28px;
    }

    &__title {
      span {
        font-size: 18px;
        position: relative;
        top: -10px;
      }
    }

    &__step {
      padding-right: 0;

      &:after {
        display: none;
      }
      .guide__nav {
        display: none !important;
      }
    }

    &__nav {
      display: flex;
      flex-wrap: nowrap;
      list-style: none;
      padding: 0;
      background-color: $white;
      margin-bottom: 0;
      top: 0;
      transition: 300ms ease-out;

      &.fixed {
        position: fixed;
        top: 10px;
        width: 750px;
        z-index: 999;
        margin: 0 -15px;
      }

      &__wrapper {
        height: 32px;

        .guide__nav {
          background-color: inherit;
          li  {
            a {
              background-color: inherit;
              color: $white;
            }

            &:not(:last-child){
              a {
                border-right: 0;

                &:before {
                  display: none;
                }

                &:after {
                  border: 0;
                  top: 0;
                  background: {
                    image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAKCAYAAACJxx+AAAAAMklEQVQoU2P8////f0ZGRkYGHAAsgU8RXCcuRShGY1OEYTe6ItIU4LUCryPxepNQQAEAwUcoC21BMycAAAAASUVORK5CYII=");
                    repeat: no-repeat;
                    size: 8px 32px;
                  };
                  height: 32px;
                  width: 10px;
                }
              }
            }

            + li {
               a {
                border-left: 0;
              }
            }
          }
        }
      }

      li {
        white-space: nowrap;
        flex: 1 1 auto;

        &:not(:last-child) {
          a {
            &:after,
            &:before {
              content: '';
              border-width: 17px 0 17px 6px;
              border-style: solid;
              position: absolute;
              top: -1px;
            }

            &:after {
              border-color: transparent transparent transparent $white;
              right: -6px;
              z-index: 10;
            }

            &:before {
              border-color: transparent transparent transparent #CDCDCD;
              right: -7px;
              z-index: 9;
            }
          }
        }

        a {
          color: $black;
          line-height: 32px;
          background-color: $white;
          display: block;
          position: relative;
          padding-left: 12px;
          font-size: 13px;
          border: 1px solid #CCCCCC;

          &.prev {
            &:before {
              border-color: transparent transparent transparent #377C63;
            }
          }

          &.active {
            background-color: $green;
            color: $white;
            border-color: #377C63;

            &:after {
              border-color: transparent transparent transparent $green;
            }

            &:before {
              border-color: transparent transparent transparent #377C63;
            }
          }
        }
      }

      &__title {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 700;
      }
    }

    &__block {
      padding-top: 60px;

      .guide__help {
        position: absolute;
        top: 40px;
        right: -30px;
        z-index: 15;

        &:nth-child(2) {
          top: 20px;
          transform: rotate(9deg);
        }

        &:nth-child(4) {
          top: 48px;
        }

        &:nth-child(5) {
          top: 150px;
          right: -105px;
          transform: rotate(30deg);
        }

        &.sm {
          width: 100px;
        }

        &.md {
          width: 175px;
        }
      }

      &__inner {
        position: relative;
        margin: auto 50px auto 0;
      }

      .container {
        display: flex;
        flex-direction: column;
        height: calc(100% - 135px);
      }

      .flex-sm {
        margin-top: 0;
      }

      img {
        margin-bottom: 0;
      }

      &-final {
        margin: 50px 0;
        border-bottom: 0;
        border-radius: 5px;
        min-height: unset;
        background: {
          image: url('../img/svg/confetty.svg');
          repeat: no-repeat;
          position: center center;
          size: 100%;
        }

        .guide__title {
          font-size: 28px;
        }

        p {
          padding: 0 150px;
        }
      }

      .settings {
        align-items: stretch;
        padding: 0;
        background: {
          image: url('../img/guide/step5.png');
          repeat: no-repeat;
          size: 65%;
          position: right top;
        }

        p:first-child {
          padding-top: 15px;
        }

        p:last-child {
          margin-bottom: 15px;
        }

        &__img {

          img {
            display: none;
          }

        }

      }
    }

    &__text {
      padding: 20px;
      font-size: 14px;
      line-height: 24px;
      position: relative;

      &:after,
      &:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        transform: rotate(-135deg);
      }

      &:after {
        background-color: #F3F3F3;
        left: -10px;
        z-index: 10;
      }

      &:before {
        border: 1px dashed #CDCDCD;
        left: -12px;
        top: 19px;
        z-index: 9;
      }

      &.no-arrow {
        &:before,
        &:after {
          display: none;
        }
      }

    }

    &__tabs {

      h5 {
        font-size: 22px;
      }

      &__nav {
        right: -30px;
      }
    }

    &.v1 {
      overflow: hidden;

      .guide__intro {
        margin-bottom: 0;

        ol {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
        }
      }

      .guide__title,
      .guide__step {
        font-size: 34px;
      }

      .blog_categories_list {
        margin-top: 0;
      }

      .guide__info,
      .guide__blog{
        padding-left: 50px;
      }

      .guide__block{

        &.last {
          margin-bottom: 35px;
        }

        &__inner {
          margin-right: 0;

          .how_inner {
            padding-right: 50px;

            .booking-logo {
              margin-top: 100px;
              margin-bottom: 55px;
            }

            .arrow-right {
              position: absolute;
              left: 24.6em;
              top: 130px;
              z-index: 100;
            }

            .arrow-round {
              position: absolute;
              right: 125px;
              width: 90px;
              top: 28px;
              z-index: 10;
            }
          }

          .tab_block {
            margin-bottom: 0;
            &:not(:first-child) {
              display: none;
            }
          }

          > div {
            padding-left: 50px;
          }
        }

        h5 {
          font-size: 24px;
        }

      }

      .guide__tooltip {
        margin: 0 0 20px -12px;
      }
    }
  }

  @include medium {

    &__intro {

      h1 {
        font-size: 48px;
        line-height: 58px;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        padding: 0 150px;
      //  max-width: 520px;
      }
    }

    &__block {

      &-final {

        .guide__title,
        .guide__step {
          font-size: 36px;
        }

        p {
          font-size: 16px;
          line-height: 26px;
          padding: 0 180px;
        }
      }

      .settings {
        margin-right: 8.33333333%;
        background-size: contain;
      }

      .guide__help {

        &:nth-child(2) {
          top: 28px;
        }

        &:nth-child(3) {
          top: 62px;
        }

        &:nth-child(5) {
          top: 156px;
          transform: none;
        }
      }

    }

    &__nav {

      &.fixed {
        width: 970px;
      }

      &__title {
        font-size: 24px;
      }

      li {
        a {
          font-size: 14px;
          padding-left: 20px;
        }
      }
    }

    &__title,
    &__step {
      font-size: 36px;
    }

    &__tooltip {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100px);
      transition: 550ms ease-out;
      will-change: transform;

      &.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);

        .tooltip__arrow {
          opacity: 1;
        }
      }
    }

    &.v1 {
      .guide__step,
      .guide__title {
        font-size: 36px;
      }
      .guide__intro {

        p {
          font-size: 16px;
          line-height: 24px;
          padding: 0;
        }
      }

      .guide__block,
      .guide__block p{
        font-size: 16px;
      }

      .guide__block__inner {

        > div {
          padding: 55px;
        }

        .how_inner {
          .booking-logo {
            margin-top: 125px;
          }
          .arrow-round {
            right: 190px;
            width: 135px;
            top: -35px;
            opacity: 0;
            transition: 300ms ease-in;

            &.active {
              opacity: 1;
              top: 5px;
            }
          }
          .arrow-right {
            left: 45%;
            transform: translate(-50%, -50%);
            transition: 300ms ease-in;
            opacity: 0;

            &.active {
              left: 50%;
              opacity: 1;
            }
          }
        }
      }

      .guide__list {
        li {
          font-size: 16px;
        }
      }

      .guide__tooltip {
        font-size: 16px;
        line-height: 26px;
        margin-right: -15px;

        &.tooltip {
          &_1 {
            margin-top: 145px;

            .tooltip__arrow {
              left: -100px;
            }
          }

          &_2 {
            .tooltip__arrow {
              top: 65%;
            }
          }
          &_3 {
            margin-top: 40px;
          }
          &_4 {
            margin-top: 70px;
            .tooltip__arrow {
              top: -45px;
            }
          }

          &_5 {
            margin-top: 215px;
            transform: translateX(-100px);
            margin-left: 15px;

            &.active {
              transform: translateX(0);
            }
          }

          &_6 {
            margin-top: 178px;
          }
        }
      }
    }
  }

  @include large {

    &__block {

      &__inner {
        padding: 0 55px;
      }

      &-final {
        padding: 15px 0;
        margin: 25px 0;
        background-size: 95%;
      }

      .guide__help {
        right: auto;
        left: 91%;

      &:nth-child(3) {
        top: 56px;
      }

        &.sm {
          width: 128px;
        }

        &.md {
          width: 210px;
        }
      }
    }

    &__nav {

      &.fixed {
        width: 1170px;
      }
    }

    .flex-sm {
      > div + div {
        padding-left: 70px;
      }
    }

    .last {

      .fp-tableCell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > .container {
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }

    &.v1 {
      .guide__intro {
        margin-top: 35px;
        padding-bottom: 45px;

        h1 {
          margin-bottom: 32px;
        }

        p {
          margin-bottom: 15px;
        }
        ol{
          margin-top: 35px;

          li {
            line-height: 30px;
          }
        }
      }
      .guide__block {
        margin-top: 0;

        &__inner {
          margin-top: 30px;
          padding: 0;

          .how_inner {
            .arrow-round {
              right: 235px;
            }
            .arrow-right {
              top: 180px;
            }
          }
        }
      }

      .guide__tooltip {
        &.tooltip {
          &_1 {
            .tooltip__arrow {
              left: -150px;
            }
          }
          &_4 {
            margin-top: 190px;
            .tooltip__arrow {
              top: 0;
            }
          }

          &_7 {
            .tooltip__arrow {
              &:nth-of-type(1) {
                top: 75px;
                transition-delay: 150ms;
              }
              &:nth-of-type(2) {
                top: 91px;
                transition-delay: 300ms;
              }
              &:nth-of-type(3) {
                top: 100px;
                transition-delay: 450ms;
              }
            }
          }

          &_8 {
            margin-left: 20px;
            .tooltip__arrow {
              &:nth-of-type(1) {
                top: 35px;
                transition-delay: 150ms;
              }
              &:nth-of-type(2) {
                top: 91px;
                transition-delay: 300ms;
              }
            }
          }

          &_9 {
            .tooltip__arrow {
              top: 30px;
              width: 115px;
            }
          }
        }
      }
    }
  }

  @media (min-height: 800px) {

    &:not(.v1) {
      .guide {
        &__block {
          padding-top: 80px;

          &-final {
            padding: 60px 0 45px;
            margin: 50px 0;
            background-size: 100%;
          }
        }

        &__intro {
          margin-top: 0;

          &__wrapper {

            .fp-tableCell {
              display: flex;
              flex-direction: column;

              > .container {
                margin-top: auto;
                margin-bottom: auto;
              }
            }
          }
        }
      }
    }


  }

  @media (min-width: 1600px) {
    &:not(.v1) {
      .guide {
        &__intro {
          padding-top: 0;
        }

        &__block {

          p {
            font-size: 16px;
            line-height: 26px;
          }

          &-final {
            padding: 100px 0;

            p {
              padding: 0 300px;
            }
          }

          &__inner {
            border: 1px solid #cdcdcd;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 110px 0 55px;
            margin: 0;
            position: relative;

            &:after,
            &:before {
              content: '';
              border-width: 0 12px 10px 12px;
              border-style: solid;
              position: absolute;
              top: -10px;
              left: 50px;
            }

            &:after {
              border-color: transparent transparent #F3F3F3 transparent;
              z-index: 10;
            }

            &:before {
              border-color: transparent transparent #CDCDCD transparent;
              top: -11px;
              z-index: 9;
            }
          }

          &__text {
            font-size: 16px;
            line-height: 26px;
          }

          &__nav {

            &.fixed {
              top: 30px;

            }
          }
        }

        &__tabs {
          &__nav {
            right: 30px;
          }
        }
      }
    }
  }
}
