.ask {
  background-color: $light-blue;
  padding-bottom: 20px;

  p {
    font-size: 14px;
    color: $grey-1;
    margin-bottom: 35px;
  }

  &_form {
    border: 1px solid $blue;
    border-radius: 2px;
    background-color: $white;
    padding: 15px 20px;



    p {
      color: $black;
      font-size: 18px;
    }

    textarea {
      height: 160px;
    }

    .btn {
      font-weight: 400;
      text-transform: none;
    }
  }

  @media (min-width: 768px) {
    padding-bottom: 50px;
    background: $light-blue url('../img/form-stripes.png') no-repeat center center;

    h6 {
      margin-bottom: 15px;
    }
    p {
      text-align: center;
      font-size: 18px;
    }

    &_form {
      padding: 35px;

      p {
        text-align: left;
        font-size: 24px;
      }

      .btn {
        width: auto;
        padding: 12px 20px;
        font-size: 14px;
      }
    }
  }

  @media (min-width: 992px) {

    &_form {
      margin: 0 50px;
      padding: 25px 35px 35px;

    }
    p {
      font-size: 22px;
      margin-bottom: 30px;
    }

    input {
      margin-bottom: 18px;
    }

    textarea {
      height: 70px;
      margin-bottom: 18px;
    }
  }
}

.booking {
  background-color: #ecf6f3;
  padding-bottom: 20px;

  h5 {
    margin: 35px 0 25px;
    padding: 0 5px;
    color: $black;
  }

  h6 {
    font-size: 16px;
    margin: 5px 0 15px;
  }

  p {
    margin-bottom: 20px;
    line-height: 24px;
    text-align: center;

    a {
      color: $white;
      display: inline-block;
      padding: 5px 11px;
      background-color: #fa5a6d;
      border-radius: 1px;
    }
  }

  &_form {

    position: relative;
    z-index: 5;

    &_inner {
      padding: 10px 20px 25px;
      background-color: $white;
      position: relative;
      z-index: 5;
    }
    /*
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 5%;
          box-shadow: 0 13px 26px 2px rgba(0, 0, 0, 0.2);
          width: 90%;
          height: 50px;
          border-radius: 40%;
          z-index: -1;
        }*/

    label {
      display: block;
      color: $black;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 9px;
    }

    input[type='text'],
    input[type='date'],
    .select {
      height: 28px;
      line-height: 28px;
      font-size: 12px;
      padding-left: 25px;
      background: {
        position: 5px center;
        repeat: no-repeat;
      }
    ;
    }

    .date_left {
      padding-right: 4px;
    }

    .date_right {
      padding-left: 4px;
    }

    .type_wrap {
      width: 50%;
      padding-right: 4px;

      .styledSelect {
        background: #fff url('../img/user.png') no-repeat 5px center / 15px;
        padding-left: 25px;
        padding-right: 25px;
        height: 26px;
        line-height: 26px;

        @media (min-width: 768px) {
          background-position: 10px center;
          background-size: 18px;
          padding-left: 40px;
        }
      }
    }

    .date {
      background-image: url('../img/calendar-icon.png');
      background-size: 14px;
      display: inline-block;
    }

    .from {
      background-image: url('../img/point-icon.png');
      background-size: 16px;
    }

    .btn {
      padding: 0 40px;
      font-weight: 500;
      text-transform: uppercase;
    }

    b {
      font-size: 10px;
      text-transform: uppercase;
    }

  }

  .form_bg {
    background: #ecf6f3 url('../img/stripes.png') no-repeat center right;
  }

  .create_service {
    margin: 30px 0 40px;
  }

  .step {
    position: relative;
    margin: 0 auto 50px;
    max-width: 320px;

    h3, p {
      text-align: left;
    }

    &_title {
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    &_description {
      font-size: 14px;
      color: #535a58;
      line-height: 24px;
    }

    img {
      display: block;
      margin: 0 auto 25px;
      width: 100%;
    }

    &_order {
      position: absolute;
      left: 20px;
      top: 0;
      width: 70px;
      height: 70px;
      text-align: center;
      line-height: 70px;
      font-size: 36px;
      background: url("../img/svg/numbers.svg") no-repeat center center;
      background-size: 70px 70px;
    }
  }

  @media (min-width: 768px) {
    padding: 50px 0;

    .form_bg {
      background: none;
      position: relative;
      z-index: 5;
      padding: 0;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        right: 0;
        height: 100%;
        background: #ecf6f3 url('../img/stripes.png') no-repeat center right / contain;
        z-index: 1;
      }
    }

    h5 {
      font-size: 40px;
      line-height: 50px;
      margin: 0 0 21px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 35px;
      padding-right: 30px;
      margin-top: -5px;
    }

    .btn {
      width: 100%;
      padding: 0 40px;
    }

    &_form {

      &_inner {
        padding: 15px 30px 30px;
        position: relative;
        z-index: 5;
      }

      h6 {
        font-size: 24px;
        margin-bottom: 25px;
      }

      .btn {
        padding: 0 40px;
      }

      input[type='text'],
      input[type='date'],
      .select {
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        padding-left: 40px;
        background: {
          position: 10px center;
          repeat: no-repeat;
        }
      ;
      }

      .date {
        background-size: 20px 20px;
      }

      .type_wrap {

        .styledSelect {
          height: 40px;
          line-height: 40px;
        }
      }
    }

    b {
      font-size: 12px;
      margin-top: 10px;
      font-weight: 500;
    }

    .step {
      display: flex;
      max-width: none;

      &_wrapper {
        background: url("../img/svg/line.svg") no-repeat center center;
        background-size: auto 85%;
      }

      &.reverse {
        flex-direction: row-reverse;
      }

      &_title {
        font-size: 24px;
        line-height: 30px;
      }

      &_order {
        left: 0;
      }

      &_info {
        padding-left: 80px;
      }
    }

  }

  @media (min-width: 865px) {

    .form_bg {
      &:before {
        right: -45px;
      }
    }
  }

  @media (min-width: 992px) {

    .form_bg {
      &:before {
        right: 0;
      }
    }

    h5 {
      font-size: 44px;
      line-height: 56px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
      padding-right: 0;
    }

    .btn-green {
      width: 305px;
      padding: 0 30px;
    }

    .btn-yellow {
      padding: 0 30px;
      margin-top: 5px;
    }

    &_form {
      margin-left: 42px;

      &_inner {
        padding: 20px 35px 35px;
      }
    }

    .step {

      &_info {
        padding-top: 50px;
      }

      &_title {
        font-size: 28px;
      }

      &_description {
        font-size: 16px;
      }

      &_order {
        top: 35px;
      }
    }
  }

  @media (min-width: 1085px) {
    .form_bg {
      &:before {
        right: -45px;
      }
    }
  }

}
.intro {
  background-color: #F5F7F9;
  padding-top: 20px;
  padding-bottom: 20px;

  h3 {
    margin-bottom: 10px;
  }

  p {
    padding: 0 20px 20px;
    font-weight: 500;
  }

}

.invite_blocks {
  background-color: #ECF6F3;
  padding-top: 25px;

  h3 {
    margin-bottom: 32px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .invite_text {
    background-color: $white;
    padding: 28px 25px;
    margin-top: -65px;
    margin-bottom: 35px;

    .title {
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      display: block;
      margin-bottom: 15px;
    }

    .text {
      font-size: 14px;
      line-height: 22px;
    }
  }

  @media (min-width: 768px) {

    padding-bottom: 65px;

    h3 {
      font-size: 42px;
      line-height: 48px;
      margin: 35px 0 50px;
      padding: 0 80px;
    }

    .row {
      display: flex;
      align-content: stretch;
    }

    .invite_text {
      margin: 0;
      height: 100%;

      .title {
        font-size: 24px;
        line-height: 34px;
      }

      .text {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .left {
      float: right;
      order: 2;
    }

    .right {
      padding: 0;
    }
  }

  @media (min-width: 992px) {
    h3 {
      padding: 0;
    }

    .invite_text {
      padding: 55px 75px;

      .title {
        font-size: 30px;
      }

      .text {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

.join {
  background: url('../img/join.jpg') no-repeat center center / cover;
  color: $white;
  text-align: center;

  &_inner {
    height: 498px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h6 {
      margin: 0 -15px;
      line-height: 30px;
    }

    p {
      margin: 23px 0 60px;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: 768px) {
      height: 588px;

      h6 {
        line-height: 50px;
      }

      p {
        font-size: 26px;
        line-height: 42px;
      }

      .btn {
        width: 305px;
      }
    }
  }
}

.create_project {
  background: url('../img/1-bg.png') no-repeat center center / cover;
  color: $white;
  padding: 35px 0;
  text-align: center;

  h3 {
    line-height: 30px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 25px 0 35px;
    text-align: center;
  }

  @media (min-width: 768px) {
    background: url('../img/2-bg.png') no-repeat center center / cover;
    padding: 60px 0;

    h3 {
      font-size: 44px;
      line-height: 50px;

      br {
        display: none;
      }
    }

    p {
      font-size: 18px;
      line-height: 29px;
    }

    .btn {
      width: 305px;
    }

  }

  @media (min-width: 992px) {
    padding: 80px 0;
  }
}

.service {
  padding-top: 28px;
  text-align: center;

  h2 {
    margin-bottom: 35px;
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
  }

  .sub_title {
    font-size: 14px;
    font-weight: 400;
    margin: 30px 0 35px;
    padding: 0 32px;
    line-height: 20px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  img {
    height: 128px;
  }


  .btn {
    margin: 35px auto;
  }

  .book {
    background: {
      color: #242424;
      size: 100%;
      repeat: no-repeat;
    };
    text-align: center;
    color: $white;
    margin: 0 -15px;
    padding: 7px;
    margin-bottom: 30px;

    &_block {
      margin-bottom: 45px;
      position: relative;

      &:not(.result) {

        &:after,
        &:before{
          content: '';
          position: absolute;
          top: 72px;
          left: 50%;
          height: 20px;
          width: 1px;
          background-color: #939393;
        }

        &:after {
          transform: rotate(45deg);
        }

        &:before {
          transform: rotate(-45deg);
        }
      }

      .select {
        height: 34px;
        line-height: 34px;
      }

      &.percent {

        &:after {
          content: '=';
          transform: none;
          width: auto;
          height: auto;
          font-size: 30px;
          color: #939393;
          background: none;
          top: 70px;
          margin-left: -10px;
        }

        &:before {
          display: none;
        }
      }

      .range_wrapper {
        display: none;
        border-radius: 2px;
        background-color: $white;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        height: 38px;
        padding: 0 10px;
        top: 46px;
        z-index: 100;

        @include mobile-only {
          width: 146px;
          left: 50%;
          transform: translateX(-50%);
        }

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: -4px;
          margin-left: -2px;
          border-width: 0 4px 4px;
          border-color: transparent transparent white;
          border-style: solid;
        }

        .rangeslider__handle {
          width: 17px;
          height: 17px;
          border: 4px solid $green;
          top: -6px;
        }

        .rangeslider  {
          background-color: rgba($black, .1);
          top: 11px;
        }

        .rangeslider__fill {
          background-color: $green;
        }

        .range_values {
          display: flex;
          justify-content: space-between;
          font-size: 11px;
          color: #7f7f7f;
          margin-top: 15px;
        }
      }

      .select {
        padding: 0;
        display: inline-block;
        width: auto;
        border: 1px solid rgba($white, .4);

        .options {
          padding: 3px 6px;
          text-align: left;
          top: 0;
          li {
            padding: 0 5px;
            font-size: 18px;
          }
        }
      }

      .styledSelect {
        background-color: transparent;
        border: 0;
        color: $white;
        font-size: 22px;
        position: static;
        padding: 0 32px 0 10px;

        &:after {
          background-image: url("../img/svg/down-arrow.svg");
          background-size: 8px;
          right: 10px;
          transition: 300ms;
        }

        &.active {
          &:after {
            transform: rotate(180deg);
            background-image: url("../img/svg/down-arrow-black.svg");
            z-index: 9999;
          }
        }
      }
    }

    &_inner {
      border: 1px dashed rgba($white, 0.1);
      padding: 40px 0 0;
    }


    .title {
      font-size: 22px;
      font-weight: 400;
      line-height: 48px;

      &.border {
        border: 1px solid rgba($white, .4);
        border-radius: 2px;
        font-size: 22px;
        padding: 0 35px 0 10px;
        margin-top: 8px;
        margin-bottom: 5px;
        line-height: 32px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        min-width: 152px;

        &.active {
          border-color: $white;
          &:after {
            transform: rotate(180deg);
          }
        }

        &:after {
          content: "";
          background: url("../img/svg/down-arrow.svg") no-repeat center center / contain;
          position: absolute;
          top: 50%;
          margin-top: -5px;
          right: 15px;
          width: 10px;
          height: 10px;
          z-index: 10;
          transition: 300ms;
        }
      }
    }

    .text {
      color: #939393;
      font-size: 11px;
      line-height: 16px;
      text-transform: uppercase;
    }

    .result {
      .title {
        color: $yellow;
        font-size: 32px;
        font-weight: 700;
      }
    }
  }


  &_result {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 50px;

    b {
      display: block;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }

  .service_view {
    margin-top: 50px;
    background-color: #ECF6F3;
    position: relative;
    margin-bottom: 50px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: -10px;
      margin-left: -10px;
      border-width: 0 10px 10px;
      border-color: transparent transparent #ECF6F3;
      border-style: solid;
    }

    &_inner {
      justify-content: space-between;
      padding: 35px 35px 0;

      img {
        max-width: 410px;
        width: 100%;
      }

      .btn {
        width: auto;
      }
    }

    &-img {
      order: 2;
    }

    &-text {
      order: 1;

      .title {
        font-size: 20px;
        margin: 0;
      }
    }
  }

  @media (min-width: 768px){
    margin-bottom: 40px;

    &.why {
      .sub_title {
        height: 112px;
      }
    }

    h2 {
      text-align: center;
      margin: 15px 0 35px;
      line-height: 50px;
    }

    h4 {
      font-weight: 500;
      font-size: 18px;
      min-height: 50px;
    }

    .sub_title {
      padding: 0;
    }

    p {
      font-size: 18px;
      line-height: 28px;
    }

    .btn {
      width: 305px;
    }

    .book {
      position: relative;
      margin: 0;
      z-index: 5;

      &_wrapper {
        position: relative;
        margin-bottom: 60px;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 6%;
          box-shadow: 0 13px 26px 2px rgba(0, 0, 0, 0.35);
          width: 88%;
          height: 50px;
          z-index: 1;
        }
      }

      .white_circle {
        position: absolute;
        top: 50%;
        left: -18px;
        width: 34px;
        height: 34px;
        margin-top: -17px;
        background-color: $white;
        border-radius: 50%;
        border: 7px solid #242424;

        &.right {
          right: -18px;
          left: auto;
        }
      }

      .dashed_circle {
        position: absolute;
        top: 50%;
        left: -25px;
        width: 34px;
        height: 34px;
        margin-top: -17px;
        background-color: #242424;
        border-radius: 50%;
        border: 1px dashed rgba($white, .1);

        &.right {
          right: -25px;
          left: auto;
        }
      }

      &_block {
        margin: 0 20px;
        min-width: 90px;

        &:not(.result) {
          display: inline-block;
          vertical-align: top;

          &:after {
            content: '*';
            font-size: 32px;
            width: 0;
            height: 0;
            left: auto;
            top: 2px;
            right: -25px;
          }

          &:before{
            display: none;
          }
        }

        &.percent {
          &:after{
            display: none;
          }
        }

        .select {
          margin-top: 7px;
        }
      }

      &_inner {
        padding: 8px 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .title {
        margin-top: 0;
      }

      .text {
        color: #939393;
        font-size: 11px;
        line-height: 16px;
        text-transform: uppercase;
      }

      .result {
        .title {
          color: $yellow;
          font-size: 32px;
          font-weight: 700;
          margin-top: 8px;
        }
      }
    }

    &_result {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 50px;
      padding: 0 50px;

      b {
        display: block;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }

    .arrow_right {
      position: relative;

      &:after {
        content: '';
        height: 12px;
        width: 30px;
        background: url('../img/svg/arrow_right.svg') no-repeat center center / contain;
        position: absolute;
        right: -15px;
        top: 65px;
      }
    }

    img {
      width: auto;
      height: 128px;
    }

    &.how_it_works {
      .sub_title {
        padding: 0 10px;
      }
    }

    &.why {
      h2 {
        margin: 30px 0 75px;
      }
      .title {
        padding: 0 48px;
      }
      .sub_title {
        padding: 0 29px;
      }
    }

    .service_view {
      max-width: 912px;
      margin: 50px auto 0;


      &_inner {
        flex-direction: row;

        > div {
          padding: 0;
        }
      }

      &-img {
        width: 410px;
        order: 1;
        img {
          height: auto;
        }
      }

      &-text {
        order: 2;
        text-align: left;
        width: auto;

        .title {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .book_wrapper{
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }

    .book {
      background-color: transparent;
      background-image: url("../img/svg/blackbg.svg");

      &_inner {
        border: 0;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 8px 15px;
      }

      &_block {
        min-width: inherit;

        &:not(.result) {

          &:after {
            right: -38px;
          }
        }
      }

      .calc_wrap {
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: flex-start;
      }

      &_wrapper {
        margin-top: 60px;

        .percent {
          &:after {
            content: '=';
            display: block;
            right: -13px;
            top: 3px;
            color: $white;
          }
        }

        .left-md {
          text-align: left;
        }

        .center-md {
          text-align: left;
        }


        .result {
          display: inline-block;
          vertical-align: top;

          .title {
            margin-top: 0;
          }

          .text {
            text-align: left;
          }
        }
      }

    }

    .booked {
      .sub_title {
        padding: 0 28px;
      }
    }

    &.why {
      .title {
        padding: 0 40px;
        min-height: inherit;
      }
    }

    &_result {
      margin-bottom: 0;
    }

    .service_view {

      &_inner {
        justify-content: center;
      }

      &-img {
        margin-right: 45px;
      }
    }
  }

  @media (min-width: 1200px) {


    .sub_title {
      padding: 0 35px;
    }

    &.why {
      .col-lg-2 {
        width: 20%;
      }

      .sub_title {
        padding: 0 13px;
      }
    }

    .booked {
      .sub_title {
        padding: 0 48px;
      }
    }

    &.how_it_works {
      .sub_title {
        padding: 0 53px;
      }
    }
  }


}

.statistic {
  background-color: #ECF6F3;
  text-align: center;
  padding: 30px 0 45px;

  h4 {
    margin-bottom: 35px;
    br {
      display: none;
    }
  }

  h5 {
    font-size: 20px;
    margin: 15px 0 30px;
  }

  p {
    margin: 25px 0 18px;
    font-size: 15px;
    line-height: 24px;
  }
  &_value {
    font-weight: 700;
    font-size: 52px;
    color: $red;
    text-shadow: 0 3px #BDE2FF;
    position: relative;
    display: inline-block;
    height: 156px;
    line-height: 156px;
    background: url('../img/white-circle.png') no-repeat center center / 155px 155px;

    @media (min-width: 768px) {
      height: 180px;
      line-height: 180px;
      font-size: 60px;
      background-size: 180px 180px;
    }

    @media (min-width: 992px) {
      font-size: 72px;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -20px;
      width: 30px;
      height: 40px;
      background: url('../img/lines.png') no-repeat center center / contain;
    }

    &:before {
      left: -40px;
      transform: rotate(180deg);
    }

    &:after {
      right: -40px;
    }
  }

  .clients_feed {
    background-color: $white;
    padding: 10px;

    img {
      margin: 20px 0;
    }
  }

  @media (min-width: 768px) {
    padding-bottom: 65px;

    h4 {
      margin-bottom: 35px;
      font-size: 42px;
      line-height: 52px;
    }

    h5 {
      font-size: 20px;
      line-height: 29px;
    }

    .clients_feed {
      padding: 25px 30px 35px;
      box-shadow: 10px 10px #D4DDDB;
      margin-top: 10px;

      img {
        margin: 0;
      }

      h5 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 992px) {
    .clients_feed {
      padding: 20px 30px;
      margin-top: 30px;
    }
  }

  @media (min-width: 1400px) {
    h4 {
      br {
        display: block;
      }
    }
  }
}