.landing {

  .title-md,
  h1, h2, h5, h6 {
    font-family: 'Neo Sans Pro';
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 18px;
  }

  &.v-2 {
    .hero {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, .4);
        z-index: 5;
      }
      > div {
        position: relative;
        z-index: 10;
      }
    }
    .btn {
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  .hero {
    padding: 55px 0 45px;

    &__title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    &__intro {
      font-size: 16px;
      margin-bottom: 25px;

      + p {
        margin-bottom: 55px;
      }
    }

    .title-md {
      margin-bottom: 0;
    }
  }

  .how__block {
    text-align: center;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    padding: 0 15px 20px;

    img {
      max-height: 52px;
    }

    img[src*="svg"]  {
      min-height: 48px;
    }

    p {
      max-width: 222px;
      margin: 0 auto;
    }
  }

  .how__row {
    &.visible-xs {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba($black, .1);

      .btn {
        font-size: 16px;
        line-height: 52px;
        text-transform: uppercase;
      }
    }
  }

  .why__block {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;

    .blue-bg {
      padding: 25px 10px 20px;
      text-align: center;
      border-radius: 5px 5px 0 0;
    }

    .title-md {
      margin: 0 0 18px;
    }

    .why__img {
      min-height: 230px;
      border-radius: 0 0 10px 10px;
    }
  }

  .what__block {

    img {
      max-height: 50px;
      max-width: 120px;
    }

    &.v-2 {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba($black, .1);

      .btn {
        font-size: 16px;
        margin-top: 40px;
        text-transform: uppercase;
      }
    }
  }

  .service {
    padding-top: 0;

    .yellow-bg {
      background-color: $yellow;
      text-align: center;
      padding: 15px 25px;
    }
  }

  .img__block {
    background-color: $white;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;

    .cover-bg {
      height: 168px;
    }

    p {
      padding: 15px 50px;
      text-align: center;
    }
  }

  .registr__block {
    background-color: #1A2E3B;
    padding: 25px 0 55px;

    h2 {
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 70px;
    }

    &.v-2 {
      padding: 110px 0;

      .title-md {
        margin: 0 0 20px;
      }
    }
  }

  .logos__block {

    img {
      width: 50px;
      display: inline-block;
    }
  }

  .footer {
    padding: 30px 0;

    p {
      color: #868686;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  .title-md {
    font-size: 22px;
    margin: 35px 0 25px;
    text-align: center;
  }

  .title-sm {
    font-size: 13px;
    line-height: 18px;
  }

  .title-xs {
    font-size: 12px;
    line-height: 16px;
  }

  .arrow-down {
    margin: 10px auto;
    display: block;
  }

  .img__wrapper {
    height: 98px;
    display: flex;
    align-items: center;

    &.center {
      justify-content: center;
    }

    img {
      max-height: 50px;
    }
  }

  section.grey_bg {
    padding-bottom: 25px;
  }

  .no-counter {
    margin-bottom: 0;

    &:before {
      display: none;
    }

    .btn {
      line-height: 52px;
    }
  }

  .preview {

    &__block {
      background-color: $white;
      border-radius: 5px;
      overflow: hidden;
      width: 300px;
    }

    &__inner {
      padding: 15px 20px;
    }

    &__img {
      height: 270px;
    }

    &__title {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 8px;
      text-align: left;
    }

    &__location {
      font-size: 14px;
      color: #8d8d8d;
    }

    &__price {
      font-size: 26px;
      font-weight: 700;
      font-family: 'Neo Sans Pro';
      display: inline-block;
    }

    &__time {
      font-family: 'Neo Sans Pro';
      font-weight: 400;
      font-size: 26px;
      line-height: 24px;
      color: #bfbfbf;
      padding-left: 15px;
      border-left: 1px solid #bfbfbf;
      display: inline-block;
      vertical-align: baseline;
      margin-left: 25px;
    }
  }

  .business__block {
    .title {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 40px;
      padding: 0 15px;
    }

    h5 {
      font-size: 18px;
      line-height: 24px;
    }

    p {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .footer {
    &-text {
      margin-bottom: 25px;
    }

    &-logo,
    &-text{
      text-align: center;

    }
  }

  @include tablet {

    section.grey_bg {
      padding-bottom: 40px;
    }

    &.v-2 {
      .hero {

        &__title {
          font-size: 48px;
          line-height: 60px;
        }

        &__intro {
          font-size: 22px;
          line-height: 30px;
        }

        .title-md {
          margin-bottom: 45px;
        }

        .how__block {
          width: 224px;
        }

        .btn {
          margin-top: 35px;
          padding: 0 60px;
        }
      }

      .what__block {
        .title-xs {
          height: 82px;
          margin-bottom: 40px;
        }

        img {
          max-width: 164px;
        }

        .btn {
          margin-top: 0;
        }
      }

      .registr__block {
        .title-md {
          margin-bottom: 35px;
        }
      }

      .business__block {
        .title-md {
          font-size: 36px;
        }

        h5 {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 30px;
        }
      }

      .service {

        .yellow-bg {
          position: relative;
          background: url('../img/landing/marker-sm.svg') no-repeat center center ;
          background-size: contain;
          padding: 15px 50px;
          line-height: 24px;
        }
      }
    }

    .hero {
      padding: 65px 0 55px;

      &__title {
        font-size: 34px;
        line-height: 46px;
        margin-bottom: 40px;
      }

      &__intro {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;

        + p {
          margin-bottom: 35px;
        }
      }
    }

    .how {

      &__row {
        display: flex;
        justify-content: space-between;
        .arrow-down {
          margin: 0;
          align-self: center;
          transform: rotate(-90deg);
        }
      }

      &__block {
        min-height: 200px;
        padding: 0 10px;
        width: 234px;

        img {
          padding: 0 42px;
        }

      }
    }

    .why__row {
      position: relative;
      margin-bottom: 30px;
      z-index: 10;

      &:after {
        content: '';
        position: absolute;
        left: 7%;
        right: 7%;
        bottom: 0;
        height: 15px;
        box-shadow: 0 10px 25px 5px rgba($blue, .25);
        z-index: 1;
      }
    }

    .why__block {
      margin-top: 42px;
      overflow: visible;

      .blue-bg {
        padding: 50px 0 50px 40px;
      }

      .why__row {
        display: flex;

        > div {
          flex: 1 1 50%;
        }

        .blue-bg {
          border-radius: 5px 0 0 5px;
        }

        .cover-bg {
          border-radius: 0 5px 5px 0;
        }
      }

      .title-md {
        font-size: 26px;
        line-height: 38px;
        text-align: left;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
      }
    }

    .what__block {
      border-bottom: 1px solid rgba($black, .1);
      padding-bottom: 50px;

      .img__wrapper {
        justify-content: center;
      }

      p {
        text-align: center;
      }
    }

    .how__start {

      .increment__list {
        li {
          &:before {
            top: 15px;
          }
        }

        .no-counter {
          margin-top: 90px;
          text-align: center;

          .btn {
            font-size: 18px;
          }
        }
      }

      .img__wrapper {
        justify-content: center;

        img {
          max-height: 55px;
        }
      }

      p {
        text-align: center;
      }
    }

    .img__block {
      margin: 0 -10px;
      p {
        padding: 15px 5px;
      }
    }

    .registr__block {
      padding: 80px 0 90px;
      text-align: center;
      background-attachment: fixed;

      .title-md {
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 40px;
      }

      .btn__badge {
        justify-content: center;

        .btn {
          padding: 0 65px;
        }
      }
    }

    .footer {
      img + img {
        margin-left: 45px;
      }
    }

    .title-md {
      font-size: 30px;
      text-align: left;
    }

    .title-xs,
    .title-sm {
      font-size: 15px;
      line-height: 22px;
    }

    .footer {

      &-logo {
        text-align: right;
      }
      &-text {
        text-align: left;
        margin-bottom: 0;
      }
    }

  }

  @include medium {

    section.grey_bg {
      padding-bottom: 60px;
    }

    &.v-2 {
      .hero {
        .how__block {
          width: 284px;
        }
      }

      .service {
        .yellow-bg {
          padding: 15px 0;
          font-size: 16px;
          background: url('../img/landing/marker.svg') no-repeat center center;
        }

        .book_wrapper {
          margin-top: 0;
        }
      }
    }

    .hero {
      padding: 55px 0;

      &__title {
        font-size: 41px;
        line-height: 54px;
        margin-bottom: 25px;
      }

      &__intro {
        font-size: 20px;
        margin-bottom: 30px;

        + p {
          font-size: 20px;
          margin-bottom: 25px;
        }
      }

      .btn__badge {
        .btn {
          padding: 0 65px;
        }
      }

      .preview__block {
        width: 370px;
      }

      .preview__img {
        height: 286px;
      }
    }

    .how {
      &__block {
        width: 304px;
      }
    }

    .why__block {
      margin-top: 45px;

      .title-md {
        padding-right: 100px;
      }
      p {
        font-size: 18px;
        line-height: 28px;
        padding-right: 5px;
      }
    }

    .img__block {
      margin: 0 -5px;

      .cover-bg {
        height: 242px;
      }

      p {
        padding: 15px 25px;
      }
    }

    .title-md {
      margin-bottom: 30px;
    }
  }

  @include large {

    .hero {

      &__intro {
        margin-bottom: 92px;
      }
    }

    .how {
      &__block {
        width: 344px;
      }
    }

    .why__block {

      .blue-bg {
        padding: 70px 60px 70px 70px;

        .title-md {
          padding: 0;
        }
      }

    }

    .how__start {
      .increment__list {
        li {
          &.no-counter {
            margin-top: 102px;
          }
        }
      }
    }

    .img__block {
      margin: 0;

      p {
        padding: 15px;
      }
    }

    &.v-2 {
      .hero {
        .how__block {
          width: 344px;
        }

        &__intro {
          margin-bottom: 55px;
        }

        .btn {
          margin-top: 75px;
        }
      }
    }
  }
}

.btn__badge {
  text-align: center;

  .btn {
    font-size: 18px;
    margin-bottom: 14px;
    line-height: 52px;
  }

  .badge {
    font-size: 14px;
    line-height: 30px;
    color: $white;
    display: inline-block;
    background: {
      image: url("../img/landing/badge.png");
      size: contain;
      repeat: no-repeat;
      position: center center;
    }
  ;
    padding: 0 20px;
  }

  @include tablet {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    .btn {
      line-height: 62px;
      margin-bottom: 0;
      padding: 0 45px;
    }

    .badge {
      background-image: url("../img/landing/badge-md.png");
    }
  }
}

.increment__list {
  counter-increment: counter-reset;
  list-style: none;
  margin-top: 60px;

  li {
    position: relative;
    counter-increment: counter;
    margin-bottom: 60px;

    &:before {
      content: counter(counter);
      position: absolute;
      left: 15px;
      top: -25px;
      width: 36px;
      height: 36px;
      background-color: rgba(209, 231, 246, .3);
      font-size: 15px;
      line-height: 36px;
      text-align: center;
      color: #009ddb;
      border-radius: 50%;
    }
  }
}