.registration-complete {

  section {
    padding-top: 35px;
  }

  .title-lg {
    margin-bottom: 15px;
  }

  .hero {
    background-color: $green;

    &__title {
      font-size: 30px;
      margin: 0 0 10px;
    }

    &__intro {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 14px;
      line-height: 21px;
      margin: 0 -2px 30px;
    }

    .instruction {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      &__block {
        position: relative;
        flex: 1 1 33.333%;

        &.arrow:after {
          content: '';
          position: absolute;
          left: 93%;
          top: 23%;
          width: 22px;
          height: 12px;
          background: {
            image: url("../img/landing/arrow-white.svg");
            repeat: no-repeat;
            position: center center;
            size: 22px 12px;
          }
        ;
        }
      }

      img {
        max-width: 65px;
        height: 40px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .settings {
      padding: 15px;
      border-radius: 3px;
      margin-bottom: 40px;

      h2 {
        font-size: 18px;
        line-height: 21px;
      }

      .range_wrap {
        margin: 15px 0;
      }
    }
  }

  .how_it_works {
    padding-bottom: 40px;

    p {
      padding: 0 30px 25px;
      text-align: center;
    }

    img {
      margin-bottom: 25px;
    }

    .how-tip {
      background-color: $green;
      padding: 20px;
      font-size: 16px;
      line-height: 22px;
      color: $white;
      position: relative;
      border-radius: 3px;

      &:after {
        content: '';
        position: absolute;
        left: 48%;
        top: -10px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background-color: $green;
      }

      &:before {
        content: '';
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: 0;
        height: 20px;
        box-shadow: 0 0 20px 3px rgba($green, .4);
      }

      p {
        margin-bottom: 15px;
        padding: 0;
      }

      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .steps {

    > p {
      padding: 0 25px;
      margin-bottom: 40px;
    }

    &__wrapper {

      h3 {
        font-size: 21px;
        text-align: left;
      }

      p {
        line-height: 21px;
      }
    }

    &__block {
      padding-bottom: 40px;

      img {
        margin: 10px 0 15px;
      }

      p {
        font-size: 14px;
      }

      a {
        color: $green;
        text-decoration: underline;
        display: inline-block;
        margin-top: 40px;
      }
    }
  }

  .service_advices {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba($black, .1);

    h2 {
      margin-bottom: 25px;
    }

    p {
      padding: 0 25px;
      margin-bottom: 25px;
    }
  }

  .link-instruction {
    padding-left: 45px;
    font-size: 18px;
    line-height: 22px;
    color: $green;
    text-decoration: underline;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 32px;
      height: 42px;
      background: {
        image: url("../img/landing/file.png");
        repeat: no-repeat;
        position: left center;
        size: 32px 42px;
      }
    ;
    }

    display: inline-block;
    margin: 40px 15px;
  }

  @include tablet {

    .title-lg {
      font-size: 30px;

      + p {
        font-size: 18px;
        line-height: 26px;
      }
    }

    .hero {

      &__title {
        font-size: 50px;
        margin-bottom: 15px;
      }

      &__intro {
        font-size: 30px;
        margin-bottom: 25px;
      }

      &__text {
        font-size: 18px;
        line-height: 25px;
        margin: 0 0 50px;
      }

      .instruction {

        &__block.arrow {

          &:after {
            left: 96%;
          }
        }
      }

      .settings {
        padding: 30px;

        h2 {
          font-size: 24px;
        }

        br {
          display: none;
        }

        br + .select {
          margin-top: 20px;
        }


        .btn {
          padding: 0 50px;
        }
      }
    }


    .how_it_works {

      .how-tip {
        padding: 20px 30px;

        p {
          font-size: 20px;
          line-height: 26px;
        }

        a {
          font-size: 20px;
        }
      }
    }

    .steps {

      &__block {
        display: flex;
      }

      &__img {
        flex:  1 0 410px;

        &.left {
          margin-right: 40px;
        }

        &.right {
          margin-left: 40px;
          order: 2;
        }
      }

      &__text {
        flex: 1 1 auto;

        h3 {
          margin-bottom: 25px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .link-wrapper {
      text-align: center;
    }

    .link-instruction {

      &:before {
        top: -12px;
      }
    }

    .service_advices {
      h2 {
        margin-bottom: 10px;
      }
    }
  }

  @include medium {

    .hero {

      .instruction {
        margin-bottom: 40px;

        &__block {

          &.arrow:after {
            width: 52px;
            background-size: 52px 12px;
            left: 91%;
          }
        }
      }
    }

    .how_it_works {
      p {
        margin-bottom: 110px;
        padding-bottom: 0;
      }
      .how-tip {
        margin-top: 70px;

        &:after {
          left: -10px;
          top: 44%;
        }
      }
    }

    .steps {
      padding-bottom: 25px;

      &__img {
        flex: 1 0 520px;

        &.left {
          margin-right: 60px;
        }

        &.right {
          margin-left: 60px;
        }
      }

      &__text {
        margin-top: 40px;
        margin-right: 100px;

        h3 {
          font-size: 24px;
        }
      }
    }
    .steps {

      &__text {

        h3 {
          font-size: 24px;
        }
      }
    }


  }

  @include large {

    .instruction {
      padding: 0 80px;
    }

    .how_it_works {

      p {
        margin-bottom: 70px;
      }

      .how-tip {
        margin-top: 120px;
      }
    }

    .service_advices {
      p {
        margin-bottom: 50px;
      }
    }
  }

}