.account {
  padding-bottom: 20px;

  h2 {
    margin: 20px 0 15px;
    text-align: left;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    color: #878787;
    margin-bottom: 15px;
  }

  @media (min-width: 768px) {
    padding-bottom: 0;
    padding-top: 20px;
    background-color: $grey-base;

    section {
      background-color: $white;
     margin-bottom: 20px;
    }

    h2,
    h5 {
      line-height: 30px;
      font-size: 30px;
    }

  }

  @media (min-width: 992px) {
    min-height: calc(100% - 413px);

    section {
      margin: 0 0 20px;
    }

    .left {
      padding-left: 0;
    }

    .right  {
      padding-right: 0;
    }
  }
}

// account link

.account_link {
  margin: 0 -15px;

  .personal_link {
    margin-bottom: 55px;

    .link {
      background-color: #f2f2f2;
      color: $red;
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
      padding: 16px 0 14px 18px;
      margin-bottom: 13px;
    }

    .btn {
      height: 48px;
      line-height: 48px;
    }
  }

  @media (min-width: 768px) {
    padding: 0 10px;

    h2 {
      margin-top: 35px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 33px;
    }

    .personal_link {
      margin-bottom: 0;
      padding-bottom: 42px;

      .link {
        font-size: 24px;
        padding: 12px 0 12px 18px;
        float: left;
        width: calc(100% - 188px);
        margin-bottom: 0;
      }

      .btn {
        float: right;
        width: 170px;
      }
    }
  }

  @media (min-width: 992px) {
    padding: 0 10px;
    margin: 0;
  }
}

// messages

.messages {
  margin: 0 -15px;

  h5 {
    text-align: left;
    padding-bottom: 25px;
  }

  &_list {
    margin: 0 -15px;
  }

  .message {
    font-size: 14px;
    padding: 20px 15px;
    border-top: 1px solid rgba($black, .1);

    &:last-child {
      border-bottom: 1px solid rgba($black, .1);
      padding-bottom: 25px;
    }

    &:not(.old) {

      .message_text {
        font-weight: 700;
      }
    }

    &.old {
      background-color: #F8F8F8;
    }

    &_head {
      padding-bottom: 18px;
    }

    &_name {
      font-weight: 700;
      float: left;
    }

    &_date {
      color: #919191;
      float: right;
    }

    &_text {
      line-height: 1.5;
      color: #363636;
      height: 42px;
      overflow: hidden;
    }
  }

  @media (min-width: 768px) {

    h5 {
      padding-top: 27px;
      padding-left: 23px;
    }

    .message {
      padding-left: 37px;

      &:last-child {
        border-bottom: 0;
      }

      &:not(.old) {

        .message_name {
          position: relative;

          &:before {
            content: '';
            width: 6px;
            height: 6px;
            background-color: $red;
            border-radius: 4px;
            position: absolute;
            left: -21px;
            top: 6px;
          }
        }

      }

      &_name {
        min-width: 250px;
      }

    }
  }

  @media (min-width: 992px) {
    margin: 0;
  }
}

// advices

.advices {
  margin: 0 -15px;

  h5 {
    text-align: left;
    padding: 55px 15px 25px;
  }

  .advice {
    font-size: 14px;
    padding: 20px 15px 15px;
    border-top: 1px solid rgba($black, .1);

    .circle {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #DADADA;
      background: url('../img/svg/ok-mark-grey.svg') no-repeat center center / 18px;

      &.full {
        background-color: $green;
        border-color: $green;
        background: $green url('../img/svg/ok-mark.svg') no-repeat center center / 18px;
      }
    }

    .float-left {
      width: 70%;
    }

    p {
      color: $black;
      line-height: 20px;
      margin-bottom: 5px;
    }

    span {
      color: #898989;
    }
  }

  @media (min-width: 768px) {
    h5 {
      padding: 26px 0 26px 28px;
    }

    .advice {
      padding: 20px 28px 15px;
    }
  }

  @media (min-width: 992px) {
    margin: 0;
  }
}

// aside blocks

.aside_block {
  margin: 0 -15px;

  h5 {
    text-align: left;
    padding: 40px 15px 20px;
  }

  .more_link {
    color: $red;
    margin-top: 22px;
    display: inline-block;
  }

  @media (min-width: 768px) {
    h5 {
      padding: 26px 35px 26px;
    }
  }

  @media (min-width: 992px) {
    margin: 0;

    h5 {
      font-size: 20px;
      text-transform: uppercase;
      padding: 19px 15px 19px 25px;
    }
  }
}

.table_block {
  border-top: 1px solid rgba($black, .1);
  border-bottom: 1px solid rgba($black, .1);
  padding: 25px 15px 30px;

  table {
    font-size: 14px;
    width: 100%;

    tr {
      &:not(:last-child) {
        td {
          padding-bottom: 22px;
        }
      }
    }

    td {
      vertical-align: top;

      &.red {
        color: $red;
      }
    }

    .date {
      color: #a1a1a1;
      text-align: right;
      padding-right: 10px;
    }

    .price {
      text-align: right;
      font-weight: 700;
      white-space: nowrap;
    }
  }

  @media (min-width: 768px) {
    padding: 33px 35px 30px;
  }

  @media (min-width: 992px) {
    padding: 25px 18px 28px 25px;
    border-bottom: 0;

    table {
      tr {
        &:not(:last-child) {
          td {
            padding-bottom: 18px;
          }
        }
      }
    }
  }
}

// edit account

.edit {

  form {

    label {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 18px;
      color: #6e6e6e;
    }

    .dob_wrap {
      margin: 15px 0 20px;
    }

    .edit_link {
      display: block;

      &:hover,
      &:focus,
      &:active{
        color: $red;
      }
    }

    .dob_inner {
      display: flex;
      flex-direction: row;
      align-content: flex-start;

      .select {
        margin-bottom: 0;
        width: 78px;
        flex-basis: 78px;

        &:last-child {
          width: 100px;
          flex-basis: 100px;
        }
      }

      .select {
        &:not(:last-child){
          margin-right: 10px;
        }
      }
    }

    .avatar {
      margin-top: 45px;

      &_wrap {
        max-width: 100%;
        width: 214px;
        margin: 0 auto 15px;

        img {
          width: 100%;
          height: 210px;
          display: block;
          margin: 10px auto;
          background-color: #F2F2F2;
          border-radius: 2px;
        }

        p {
          font-size: 14px;
          color: #8f8f8f;
          line-height: 20px;
          margin-bottom: 25px;
        }

        .upload_btn {
          width: 100%;
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 10px;
          color: $green;

          &:hover {
            color: $green-hover;
          }

          &:focus,
          &:active {
            color: $green-active;
          }
        }
      }
    }

    > .btn {
      margin-bottom: 30px;
    }
  }



  @media (min-width: 768px) {
    margin: 0 -15px;
    padding: 35px 35px 0;

    h2 {
      margin: 0 0 30px;
    }


   form {
     padding-bottom: 35px;

     .dob_wrap {
       margin-top: 0;
       margin-bottom: 45px;
     }

     .profession_wrap {
       margin-bottom: 30px;
     }

     .avatar {
       margin-top: 0;

       img {
         margin-top: 0;
       }
     }

     .edit_link {
       margin: 10px 0 30px;

       + .btn {
         padding: 0 48px;
         font-size: 14px;
         text-transform: uppercase;
         display: block;
       }
     }


     input[type='text'],
     input[type='email'],
     input[type='password'],
     input[type='date'],
     input[type='tel'],
     .select {
       height: 44px;
       line-height: 44px;
       margin-bottom: 10px;
     }
   }
  }

  @media (min-width: 992px) {
    margin: 0;
  }

  @media (min-width: 1200px) {
    form {
      .avatar {
        margin-left: 26px;
      }
    }
  }
}

.account {
  // forgot password form
  .forgot {
    padding-bottom: 85px;

    p {
      color: #454545;
      line-height: 22px;
      margin-bottom: 10px;
    }

    input {
      margin-bottom: 15px;
    }

    .btn {
      font-size: 14px;
      text-transform: uppercase;
      padding: 0 40px;
      width: 100%;
    }

    @media (min-width: 768px) {
      padding: 1px 50px 40px;
      margin: 30px 0 50px;

      h2 {
        margin-top: 35px;
      }

      p {
        padding: 0 14px;
        font-size: 16px;
        margin-bottom: 25px;
      }

      input {
        height: 44px;
        margin-bottom: 30px;
      }
    }

    @media (min-width: 1200px) {
      max-width: 470px;
      margin: 30px auto 50px;
    }
  }

  .forgot_success {
    padding: 65px 20px 40px;
    text-align: center;

    h2 {
      text-align: center;
      max-width: 555px;
      margin: 35px auto 0;
    }

    @media (min-width: 768px) {
      padding: 125px 0 145px;
      min-height: calc(100% - 413px);
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;

      h2 {
        font-size: 30px;
        line-height: 42px;
      }
    }
  }
}


// tips

.tips_shadow {
  position: relative;
  background-color: $white;
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    left: 8%;
    right: 8%;
    bottom: 0;
    height: 20px;
    box-shadow: 0 0 15px 3px rgba($black, .15);
    z-index: -1;
  }
}

.tips_block {
  border: 3px solid #E9E2D4;

  h5 {
    font-size: 20px;
    text-transform: none;
    padding-right: 50px;
  }

  p {
    font-size: 14px;
    line-height: 21px;
    color: #363636;
  }

  .tips_inner {
    background-color: $white;
    padding: 0 18px 20px 25px;
  }
}


.arrow-link {
  position: relative;

  &:hover {
    &:after {
      left: 110%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 105%;
    top: 3px;
    width: 15px;
    height: 10px;
    background:  {
      image: url("../img/svg/arrow_right-green.svg");
      position: center center;
      repeat: no-repeat;
      size: 15px 10px;
    };
    transition: left 250ms;
  }
}