.blog {

  &_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 55px;
    color: $black;
    margin: 0 -15px;
    border-top: 1px solid $borderColor;
    text-align: center;
    padding: 0 15px;
  }

  &_search {
    margin-top: 10px;

    input {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
      border: solid 1px #e0e0e0;
    }
  }

  &_categories {

    &_list {
      list-style: none;
    }

    &_item {

      a {
        display: block;
      }

      &-img {
        background:  {
          repeat: no-repeat;
          position: center center;
          size: cover;
        };
        height: 130px;
        display: block;
        transition: box-shadow 250ms;
      }

      &-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        color: $black;
        display: block;
        text-transform: uppercase;
        letter-spacing: .05em;
      }


      &.news {
        a:hover {

          .blog_categories_item-img {
            box-shadow: 0 5px 10px 0 rgba($blue, 0.3);
          }
        }
      }

      &.tutorials {
        a:hover {

          .blog_categories_item-img {
            box-shadow: 0 5px 10px 0 rgba($green, 0.3);
          }
        }
      }

      &.briefcases {
        a:hover {

          .blog_categories_item-img {
            box-shadow: 0 5px 10px 0 rgba($purple, 0.3);
          }
        }
      }

      &.about {
        a:hover {

          .blog_categories_item-img {
            box-shadow: 0 5px 10px 0 rgba($red, 0.3);
          }
        }
      }
    }
  }

  &_post {
    height: 266px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    margin-bottom: 16px;
    transition: box-shadow 250ms;
    background:  {
      repeat: no-repeat;
      position: center center;
      size: cover;
    };

    &:hover {
      box-shadow: 0 5px 10px 0 rgba($black, 0.3);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, .4);
      z-index: 1;
    }

    &_list {

    }

    &_category {
      display: inline-block;
      font-size: 10px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 1px;
      color: $white;
      margin-bottom: 12px;
      text-transform: uppercase;
      position: relative;
      z-index: 2;
      padding: 0 12px;
    }

    &_title {
      text-align: left;
      position: relative;
      z-index: 2;


      &-link {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: $white;
        text-transform: uppercase;

        &:hover {
          color: $white;
        }
      }
    }

    &_intro {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      position: relative;
      z-index: 2;
    }
  }

  &_catalog {

    &_item {
      background-color: $white;
      margin: 0 0 12px;
    }

    &_img {
      background:  {
        repeat: no-repeat;
        position: center center;
        size: cover;
      };
      height: 268px;
    }


    &_title {
      display: block;
      color: $black;
      margin-bottom: 5px;
    }

    &_intro {
      font-size: 14px;
      line-height: 24px;
      color: #737373;
      margin-bottom: 10px;
    }

    &_info {
      padding: 20px 15px;
    }

    &_date {
      font-size: 12px;
      color: #737373;
    }
  }

  @include tablet {

    &_search {
      margin-top: 20px;
    }

    &_title {
      text-align: left;
      margin: 0;
      padding: 0;
      line-height: 80px;
    }

    &_post {
      height: 227px;

      &.main {
        height: 470px;
        justify-content: flex-start;
        padding-top: 45px;

        .blog_post_title-link {
          font-size: 45px;
          line-height: 50px;
        }

        .blog_post_category {
          margin-bottom: 30px;
        }

        .blog_post_title {
          margin-bottom: 30px;
        }
      }

      &_title {
        line-height: 24px;

        &-link {
          text-transform: none;
          line-height: 24px;
          display: block;
        }
      }
    }

    &_catalog {
      padding-bottom: 30px;

      &_item {
        display: flex;
        flex-direction: row-reverse;
        align-content: stretch;
        transition: 250ms;

        &:hover {
          box-shadow: 0 3px 15px rgba($black, .3);
        }
      }

      &_img {
        height: auto;
        min-height: 268px;
        flex: 1 0 280px;
      }

      &_info {
        padding: 30px 34px 26px 30px;
        flex: 1 1 auto;
      }
    }
  }

}

.catalog_title.title-md {
  line-height: 60px;
  margin-bottom: 5px;

  @include tablet {
    font-size: 24px;
  }
}

.attract {
  margin-bottom: 20px;

  &_block {
    height: 235px;
    margin-bottom: 12px;
    text-align: center;
    padding: 25px 45px 33px;
    color: $black;
    display: block;

    span {
      display: block;
    }

    img {
      margin-bottom: 25px;
      height: 80px;
    }
  }

  @include tablet {

    &_block {
      padding: 25px 10px 0;
    }
  }

  @include medium {

    &_block {
      display: flex;
      height: 145px;
      text-align: left;

      img {
        margin-right: 15px;
      }
    }
  }

  @include large {
    &_block {
      height: 126px;

      img {
        margin-bottom: 0;
      }
    }
  }
}

.cases {

  &_block {
    background-color: $green;
    min-height: 344px;
    margin-bottom: 12px;
    text-align: center;
    padding: 25px 45px;
    transition: box-shadow 250ms;

    &:hover {
      box-shadow: 0 5px 10px 0 rgba($green, 0.7);
    }

    img {
      margin-bottom: 25px;
    }

    .title-md {
      margin-bottom: 10px;
    }

    span {
      margin-bottom: 20px;
      display: block;
    }

    .btn {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: .1em;
      text-align: center;
      color: $black;
      height: 40px;
      line-height: 40px;
      width: auto;
    }
  }

  @include tablet {
    &_block.sm {
      padding: 25px;
    }
  }

  @include medium {

    &_block {
      height: auto;
      padding: 50px 15px 32px;
    }
  }
}

.subscribe {
  margin-top: 55px;
  padding-bottom: 35px;

  .title-lg {
    line-height: 26px;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 20px;
  }

  input,
  .btn {
    height: 48px;
    line-height: 48px;
  }

  input {
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: #9b9b9b;
  }

  .btn {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
  }


  @include tablet {
    background-color: $white;
    padding-top: 50px;

    &.sm {
      margin-top: 0;
      padding-bottom: 50px;

      .title-lg {
        font-size: 24px;
      }

      .title-sm {
        font-size: 14px;
      }
    }

    .title-lg {
      font-size: 36px;
      line-height: 50px;

      br {
        display: none;
      }
    }

    .title-sm {
      font-size: 18px;
      line-height: 22px;
    }

    &_form {
      display: flex;
      padding: 0 25px;

      input {
        margin: 0;
        text-align: left;
      }

      .btn {
        border-radius: 0;
        border: 1px solid $borderColor;
        border-left: 0;
      }
    }
  }

  @include medium {
    &_form {
      padding: 0;
    }
  }
}

/*BLOG*/
.blog{
    background-color: $grey-base;
    padding-bottom: 20px;
  
    &-wrapper {
      padding: 0;
    }
  
    &-post {
      position: relative;
    }
  
    &-img {
      width: 100%;
    }
  
    &-label {
      background-color: $red;
      font-size: 12px;
      font-weight: 700;
      line-height: 2;
      color: $white;
      padding: 5px 15px;
      position: absolute;
      top: 20px;
      left: 0;
      text-transform: uppercase;
    }
  
    &-text {
      color: #9a9a9a;
      font-size: 20px;
      line-height: 20px;
    }
  
    &-info {
      background-color: $white;
      padding: 15px 20px;
    }
  
    &-title {
      font-size: 18px;
      text-align: left;
      line-height: 22px;
      margin-bottom: 5px;
  
      .blog-link {
        color: $black;
        font-size: 24px;
        line-height: 30px;
      }
    }
  
    &-date {
      color: #9a9a9a;
      font-size: 12px;
      display: block;
      margin-bottom: 10px;
    }
  
    &-tags {
  
      &_item {
        border-radius: 2px;
        padding: 0 7px;
        height: 25px;
        line-height: 25px;
        color: #a78b8e;
        font-size: 12px;
        background-color: #ffebed;
        text-transform: uppercase;
        margin: 0 3px 3px 0;
        display: inline-block;
  
        &:hover {
          color: #a78b8e;
        }
      }
    }
  
    &_links {
      margin: 20px 0;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      justify-content: space-between;
  
      span {
        display: block;
        color: $black;
      }
  
      img {
        height: 50px;
        object-fit: cover;
        margin-bottom: 10px;
      }
    }
  
    .blog_title {
      text-align: left;
      border-top: 0;
    }
  
    &-content {
  
      p,b,i,strong {
        font-size: 14px;
        line-height: 22px;
      }
  
      p, b, img {
        margin-bottom: 20px;
      }
  
      img, video {
        max-width: 100%;
        margin: 20px 0;
      }
    }
  
    // blog comments
            &_comments {
      margin-top: 20px;
      background-color: $white;
      padding: 20px 15px;
  
      h2 {
        text-align: left;
        margin-bottom: 20px;
      }
  
      // new comment form
          
   &_new {
        margin-top: 20px;
        background-color: $white;
        padding: 15px;
  
        h2 {
          text-align: left;
          margin-bottom: 20px;
        }
  
        textarea {
          height: 150px;
          margin-bottom: 20px;
        }
  
        .btn {
          font-size: 14px;
          padding: 14px 50px;
          text-transform: uppercase;
        }
      }
    }
  
    @include  tablet {
  
      &-wrapper {
        padding: 0 15px;
      }
  
      &-label {
        font-size: 14px;
        top: 28px;
      }
  
      &-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 5px;
      }
  
      &-text {
        font-size: 14px;
        color: #9a9a9a;
      }
  
      &-date {
        font-size: 14px;
        float: right;
        margin: 0;
      }
  
      &-tags {
        margin-top: 15px;
      }
  
      &_comments,
      &_comments_new {
        padding: 25px;
  
        h2 {
          font-size: 18px;
          line-height: 26px;
        }
      }
  
      &_links {
        margin: 20px 0;
  
        img {
          margin-bottom: 0;
        }
  
        &_prev,
        &_next {
          display: flex;
          padding: 0;
        }
  
        &_prev {
          img {
            margin-right: 15px;
          }
        }
  
        &_next {
          flex-direction: row-reverse;
          img {
            margin-left: 15px;
          }
        }
      }
    }
  
    @include medium {
      &-wrapper {
        padding-right: 15px;
      }
  
      &-info {
        padding: 15px 25px 20px;
      }
    }
  }

.blog-post + .blog-post {
    margin-top: 10px;
  }

// blog aside bar

.categories {
    background-color: $white;
    padding: 30px 22px;
  
    &-title {
      font-size: 24px;
      line-height: 24px;
      text-align: left;
      margin-bottom: 20px;
    }
  
    &-list {
      list-style: none;
      margin: 0;
  
      &_item {
        font-size: 14px;
        font-weight: 500;
        line-height: 35px;
        text-transform: uppercase;
      }
  
      &_link {
        color: $black;
  
        &:hover,
        &:focus,
        &:active{
          color: $red;
        }
      }
    }
  }

.support {
  
    &_block {
      position: absolute;
      right: 0;
      top: 75px;
      width: 48px;
    }
  
    &_btn {
      position: relative;
      border: 0;
      background-color: $red;
      background: {
        image: url("../img/svg/message_icon.svg");
        repeat: no-repeat;
        size: cover;
      };
      border-radius: 2px;
      width: 48px;
      height: 48px;
      z-index: 115;
    }
  
    &_form,
    &_success{
      display: none;
      position: absolute;
      right: 22px;
      top: 23px;
      background-color: $white;
      box-shadow: 0 0 10px rgba($black, .1);
      border-radius: 2px;
      padding: 20px;
      width: 260px;
      height: 335px;
      z-index: 110;
  
      h3 {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 20px;
      }
  
      p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
      }
  
      textarea {
        height: 135px;
      }
  
      input, textarea {
        margin-bottom: 10px;
      }
  
      .btn {
        width: 100%;
        text-transform: uppercase;
      }
  
      img {
        margin: 40px 20px 15px 0;
      }
    }
  
    &_success {
      h3 {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 45px;
      }
    }
  }