.bookings {

  .table.responsive {

    &:not(.user_list) {

      @include mobile-only {
        td {
          &:before {
            width: 50%;
            position: absolute;
            left: 15px;
          }
          padding-left: 50%;

          &.bold {
            &:before {
              font-weight: 700;
            }
          }
        }
      }

      @include tablet {
        margin: 0;
        table-layout: auto;

        th {
          vertical-align: top;
        }
        td {

          &.hotel {
            min-width: 150px;
          }
        }
      }
    }

    &.user_list {
      table-layout: auto;

      tr {
        border-bottom: 1px solid $borderColor;
      }


      td {

        &:first-child {
          width: 5%;
        }

        &:before {
          display: none;
        }

        @include mobile-only {
          &:first-child {
            display: none;
          }

          &:nth-child(4){
            color: #bdbdbd;
          }

          &:nth-child(5),
          &:nth-child(6) {
            display: inline-block;
            vertical-align: top;
            border-bottom: 0;
          }

          &.name,
          &.mail {
            display: inline-block;
            padding-top: 15px;
            text-align: left;
          }

          &.name {
            padding-right: 5px;
          }

          &.mail {
            font-weight: 400;
            padding-left: 0;
          }

        }

        .msg,
        .booked {
          position: relative;

          &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: bottom;
            margin-right: 7px;
            background: {
              position: center center;
              repeat: no-repeat;
            };
          }
        }

        .msg {
          position: relative;

          &:before {
            background: {
              size: 18px 16px;
            };
          }

          &.grey {
            color: $grey-1;
            &:before {
              background-image: url('../img/svg/message_grey.svg');
            }
          }

          &.red {
            color: red;

            &:before {
              background-image: url('../img/svg/message_red.svg');
            }
          }
        }

        .booked {

          &:before {
            background: {
              size: 20px 15px;
            };
          }

          &.grey {
            color: $grey-1;
            &:before {
              background-image: url('../img/svg/booking_grey.svg');
            }
          }

          &.red {
            color: red;

            &:before {
              background-image: url('../img/svg/booking_red.svg');
            }
          }
        }

      }

      @include tablet {
        margin: 0;

        td {
          &:nth-child(4) {
            width: 45%;
          }
        }
      }
    }
  }

  @include tablet {
    padding-bottom: 0!important;

    .table_wrap {
      margin: 0 -35px;
    }

    h2 {
      margin-left: -15px;
      margin-bottom: 30px;
    }

    .table {

      th, td {
        padding: 12px 8px;
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
        }
      }



      td.hotel {
        max-width: 250px;
      }

      &.responsive.user_list {
        tr {
          border-bottom: 0;
        }
      }
    }

    .search_wrap {
      float: right;
      margin-right: -10px;
      margin-top: -8px;
      width: 180px;

      .search {
        background-position: 0 18px;
        padding-right: 0;
        padding-left: 30px;
        border: 0;
      }
    }
  }

  @include large {
    .table {

      td.hotel {
        max-width: inherit;
        min-width: 280px;
      }
    }
  }
}

.status {

  @include mobile-only {
    position: relative;
    top: -5px;
  }

  @media (max-width: $medium-screen-down) {
    width: 32px;
    height: 32px;
    font-size: 0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    background: {
      size: 32px 32px;
      position: center center;
      repeat: no-repeat;
    }
  ;

    &-accept {
      background-image: url('../img/svg/accept.svg');
    }

    &-cancel {
      background-image: url('../img/svg/cancel.svg');
    }

    &-pending {
      background-image: url('../img/svg/waiting.svg');
    }
  }

  @include medium {
    font-size: 11px;
    height: 23px;
    line-height: 23px;
    border-radius: 3px;
    padding: 0 12px;
    display: inline-block;

    &-accept {
      background-color: #BBE7D0;
      color: #203128;
    }

    &-cancel {
      background-color: #F4D3D3;
      color: #b80000;
    }

    &-pending {
      background-color: #F9EBB9;
      color: #4e3515;
    }
  }
}
