.feedback {

  &_list {
    list-style: none;
  }

  &_item {
    //  height: 180px;
    margin-bottom: 20px;
    display: block;

    &:not(.new) {
      padding: 15px;
      background-color: #F5F7F9;
      transition: box-shadow 250ms;

      &:hover {
        box-shadow: 0 2px 7px rgba($black, .18);
      }
    }

    &.new {
      border: 1px dashed $green;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 160px;

      .btn {
        margin: 10px 0;
        text-transform: uppercase;
      }

      &:not(.active) {
        border: 1px dashed #B7B7B7;

        .btn {
          background-color: transparent;
          border-color: #B7B7B7;
          color: #B7B7B7;
        }
      }
    }

    .user_avatar {
      width: 54px;
      display: inline-block;

      img {
        width: 54px;
        border: 3px solid $white;
        border-radius: 50%;
      }

    }

    .feedback_inner {
      margin-top: 10px;
    }

    .feedback_info {
      width: calc(100% - 68px);
      display: inline-block;
      vertical-align: top;
    }

    .user_msg {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 15px;
      max-height: 70px;
      overflow: hidden;
    }

    .user_name {
      margin-top: 9px;
    }

    .msg_date {
      margin: 0;
      font-size: 14px;
      color: #838b93;
    }

    .feedback_option {
      background-color: transparent;
      border: 0;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }

    }

  }

  @include tablet {
    &_item {

      &:not(.new) {
        padding: 25px 25px 20px 30px;
      }

      &.new {
        height: 180px;
      }

      .user_avatar {
        float: left;
        width: 90px;

        img {
          width: 90px;
        }
      }

      .feedback_info {
        margin-bottom: 10px;
        width: calc(100% - 105px);
      }

      .user_name {
        float: left;
        margin-top: 0;
      }

      .msg_date {
        float: right;
      }

      .feedback_inner {
        margin: 0;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 105px);

        .user_msg {
          height: 70px;
        }

      }
    }
  }

}

// modal

.modal {

  &.remove {
    text-align: center;
    padding: 60px 0;

    h5 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    .btn {
      margin: 0 8px;
      text-transform: uppercase;
      font-size: 14px;
      display: inline-block;
      padding: 0 30px;
    }

    @include tablet {
      top: 30%;
    }

  }

  &.leave_feedback {
    padding: 20px 10px 15px 15px;

    h5 {
      text-align: left;
      font-size: 24px;
      margin-bottom: 25px;
      line-height: 1;
    }

    .upload_img {
      @extend %clearfix;
      margin-bottom: 25px;

      img {
        width: 60px;
        float: left;
        margin-right: 35px;
      }

      input[type='file'] {
        + label {
          margin-top: 10px;
          font-size: 12px;
          text-transform: uppercase;
          display: inline-block;
          padding: 0 15px;
          line-height: normal;
          height: auto;
        }
      }
    }

    .input_group > label {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      color: #838b93;
      margin-bottom: 5px;
    }

    form {
      @extend %clearfix;

      .half_blocks {
        @extend %clearfix;
      }

      input {
        font-size: 14px;
        width: 100%;
        padding: 0 13px;

        &.date {
          color: #838b93;
        }
      }

      textarea {
        height: 245px;
        width: 100%;
        padding-top: 10px;
      }
    }

    .btn-empty {
      border: 0;
      color: #939393;
    }

    .btn {
      font-size: 14px;
      text-transform: uppercase;
    }

    @include tablet {
      padding: 25px 30px 30px;

      .upload_img {
        width: 88px;
        margin-right: 25px;
        float: left;

        img {
          width: 100%;
          margin-right: 0;
          float: none;
        }

        input[type='file'] {
          + label {
           border: 0;
            display: block;
            padding: 0;
            white-space: normal;
          }
        }

      }

      .form_main {
        float: right;
      }

      .half_blocks {

        .input_group {
          float: left;

          &:first-child {
            width: 260px;
            margin-right: 10px;
          }
          &:last-child {
            width: 100px;
          }
        }
      }

      form {

        input {
          width: 100%;
        }

        textarea {
          line-height: 24px;
          height: 215px;
        }

      }


      .btn {
        margin-bottom: 0;

        &-empty {
          display: none;
        }
      }
    }

  }

  &.templates {
    padding: 15px;
    max-width: 640px;

    h5 {
      text-align: left;
      font-size: 24px;
      margin-bottom: 25px;
      line-height: 1;
    }

    .feedback_list {
      margin: 0 0 15px 0;

      .feedback_item {
        position: relative;

        .user_msg {
          height: auto;
        }

        &:hover {
          box-shadow: none;

          .add_feedback {
            opacity: 1;
          }

        }

        .add_link {
          cursor: pointer;
        }

        .add_feedback {
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: rgba($green, .8);
          z-index: 5;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: 250ms;

          .btn {
            border-color: $white;
            color: $white;
            font-size: 24px;
            text-transform: uppercase;
          }

        }

        &.added {
          .add_feedback {
            display: flex;
            opacity: 1;
            background-color: rgba($white, .8);
            .btn {
              border: 0;
              color: #7d8d9d;
            }

          }
        }

      }
    }
    @include tablet {
      padding: 25px 30px 0 25px;

      .feedback_list {
        max-height: 520px;
        overflow: hidden;

        .feedback_item {
          margin-right: 25px;

          .add_feedback {
            display: flex;
          }

          .add_link {
            display: none;
          }

        }

      }

    }
  }

  @include tablet {
    min-width: 546px;
  }
}