.footer {
  background-color: $footer-bg;
  color: $footer-color;


  &_nav_wrap {

     .footer_nav_title {
       cursor: pointer;
       border-bottom: 1px solid rgba($white, .1);
       text-transform: uppercase;
       padding: 10px 0;
       font-size: 11px;
       position: relative;
     }

    .footer_nav {
      display: none;
      list-style: none;
      margin: 0;

      a {
        display: block;
        color: $white;
        padding: 6px 0;
        font-size: 12px;
      }
    }
  }

  &_text {
    text-align: left;
    padding-top: 30px;

    h2 {
      text-align: left;
      text-transform: uppercase;
      font-size: 30px;
      color: white;
      font-weight: 900;
      span {
        color: $red;
        font-weight: 300;
      }

    }

    p {
      font-size: 14px;
      line-height: 24px;
      margin: 10px 0;
    }
  }

  &_info {

    span {
      display: block;
      position: relative;
    }

    .money_img {
      display: block;
      margin: 10px 0;
    }

    .money {
      font-size: 36px;
      color: $white;
    }

    .money_title {
      font-size: 14px;
      color: #c0c0c0;
    }

    .top {
      padding-right: 0;
    }
  }


  &_bottom {
    padding: 0 0 15px;

    p{
      font-size: 14px;
      line-height: 24px;
    }

    .support {
      border-top: 1px solid rgba($white, .1);
      border-bottom: 1px solid rgba($white, .1);
      padding: 20px 0;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 23px;
    }
  }

  @media (min-width: 768px) {

    &_nav_wrap {

      .footer_nav_title {
        padding: 10px 0;
        font-size: 14px;
      }

      .footer_nav {
        a {
          padding: 6px 0;
        }
      }
    }

    &_text {

      h2 {
        font-size: 26px;
        text-align: left;
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }
    }

    &_bottom {
      color: $footer-color-bottom;

      .social {
        margin: 0;
        position: absolute;
        right: 0;
        z-index: 10;

        &_item:not(:last-child) {
          margin-right: 10px;
        }
      }

      .support {
        border-bottom: 0;
        padding-bottom: 0;

        p{
          font-size: 14px;
          color: $footer-color-bottom;
        }
      }

      br {
        display: none;
      }

      .sup {
        br {
          display: block;
        }
      }
    }

    &_info {
      margin-top: 38px;
      text-align: right;

      span {
        display: block;
        position: relative;
      }

      .money_img {
        display: inline-block;
        margin-bottom: 30px;
      }

      .money {
        color: #e7e7e7;
        font-size: 36px;
        top: -4px;
      }

      .money_title {
        color: #c0c0c0;
        font-size: 13px;
        top: -15px;
      }
    }
  }

  @media (min-width: 992px) {

    &_top {
      padding-top: 30px;
      padding-bottom: 15px;
    }

    &_text {
      padding: 0 30px 0 15px;
      margin: -5px 0 0;
    }

    &_info {
      padding-left: 20px;
      text-align: center;
      margin-top: 0;

      .money_img {
        margin-bottom: 10px;
      }

      .money {
        padding-right: 5px;
      }

      .money_title {
        top: -10px;
      }

      [class^="col"] {
        padding-left: 0;
      }
    }


    &_nav_wrap {

      .footer_nav_title {
        border-bottom: 0;
      }

      .footer_nav {
        margin: 0;
        display: block;

        a {
          font-size: 14px;
        }
      }
    }

    &_bottom {
      .support {
        margin: 0;
      }
    }
  }
}