.header {
  background-color: $header-bg;

  &_logo {

    &_wrap {
      height: $header-height;
      line-height: $header-height;
    }

    a {
      height: $header-height;
      line-height: $header-height;
      color: $header-logo-color;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      display: inline-block;

      span {
        font-weight: 400;
        color: $red;
      }
    }
  }

  &_nav {
    display: none;
    background-color: rgba($black, .9);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    padding: 0;
    z-index: 1060;

    &_title {
      color: $white;
      font-size: 20px;
      height: $header-height;
      line-height: $header-height;
      padding-left: 17px;
    }

    > ul {
      height: calc(100% - #{$header-height});
      overflow: auto;

      .nav_item {
        position: relative;

        &:last-child {
          border-bottom: 1px solid rgba($white, .1);
        }

        &.sub {
          &:after {
            content: '';
            position: absolute;
            right: 22px;
            top: 22px;
            width: 12px;
            height: 8px;
            background: url('../img/svg/down-arrow.svg') no-repeat center center  / 100% 100%;
            transition: 300ms;
          }

          &.active {
            &:after {
              transform: rotate(180deg);
            }
          }
        }

      }
    }

    .nav_item {
      list-style: none;
      border-top: 1px solid rgba($white, .1);

      .nav_link{
        color: $white;
        font-size: 15px;
        height: 50px;
        line-height: 50px;
        padding: 0 17px;
        display: block;
        white-space: nowrap;
        overflow: hidden;

        &.active {
          color: $red;
        }

      }

      .btn {
        color: $white;
        font-size: 15px;
        height: 50px;
        line-height: 50px;
        padding: 0 17px;
        display: inline-block;
        width: auto;
        border: 0;
      }

      > ul,
      .sub_menu {
        display: none;
        padding-left: 20px;
        position: relative;

        .nav_item {

          &:last-child {
            a {
              border-bottom: 0;
            }
          }
        }
      }
    }

    ul {
      margin: 0;
    }
  }

  &_main {
    min-height: 450px;
    max-height: 685px;
    height: calc(100% - #{$header-height});
    background: {
      image: url("../img/header-bg.jpg");
      repeat: no-repeat;
      size: cover;
      position: right -50px bottom -80px;
    }
  ;

    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 250px;
      background-image: linear-gradient(to bottom, $white 50%, transparent);
    }

    .container {
      height: 100%;
      position: relative;
      z-index: 5;
    }

    &_inner {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 0 25px;


      h2 {
        color: $black;
        margin: 20px 0 40px;
        text-align: left;
      }

      p {
        color: $black;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
        margin: 0;
      }

      .btn {
        margin: 50px 0 0;
      }
    }

  }

  @media (min-width: 768px) {
    max-height: 705px;

    &_logo {
      text-align: left;
      display: inline-block;
      font-size: 30px;

      &_wrap {
        padding-left: 0;
      }
    }

    &_nav {
      display: block !important;
      background-color: transparent;
      position: static;
      height: $header-height;
      line-height: $header-height;
      text-align: right;
      padding: 0;

      &_title {
        display: none;
      }

      .nav_item {
        .btn {
          color: $black;
        }
      }

      > ul {
        height: $header-height;
        line-height: $header-height;
        overflow: hidden;
        .nav_item {
          display: inline-block;
          vertical-align: top;

          &.sub {
            display: inline-block!important;

            &:after {
              display: none;
            }
          }

          .nav_link {
            border: 0;
            color: $white;
            font-size: 14px;
            height: $header-height;
            line-height: $header-height;
            padding: 0;
            position: relative;
            overflow: hidden;

            &:not(.active):after {
              content: '';
              position: absolute;
              left: 50%;
              right: 50%;
              bottom: 0;
              height: 3px;
              background-color: $white;
              transition: 500ms ease;
            }

            &:hover {

              &:after {
                left: 0;
                right: 0;
              }
            }

            &.active {
              color: $white;
              border-bottom: 3px solid $white;
            }

          }

          .btn {
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            padding: 0 17px;
            display: block;
            background-color: white;
            margin-top: 20px;
          }

          &:not(:last-child) {
            a {
              margin-right: 8px;
            }
          }

          > ul,
          .sub_menu {
            display: none!important;
          }

          &:last-child {
            a {
              border-bottom: 0;
            }
          }
        }
      }
    }


    &_main {
      background-position: center center;

      &:after {
        display: none;
      }

      &_inner {
        justify-content: center;
        padding: 0;

        h2 {
          font-size: 50px;
          line-height: 62px;
        }

        p {
          font-size: 24px;
          line-height: 38px;
          text-transform: uppercase;
          margin-bottom: 60px;
        }

        .btn {
          text-decoration: none;
          width: 305px;
          margin: 0;
        }
      }
    }
  }

  @media (min-width: 992px) {

    &_nav {

      > ul {

        .nav_item {
          a {
            font-size: 15px;
          }

          &:not(:last-child) {
            a {
              margin-right: 30px;
            }
          }
        }
      }
    }

    &_main {

      &_inner {
        justify-content: center;

        h2 {
          margin: 0 0 20px;
        }

        .btn {
          font-size: 18px;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    &_nav {

      a {
        &:not(:last-child) {
          margin-right: 45px;
        }
      }
    }
  }

  @media (min-width: 1500px) {
    &_main {
      background-position: center -150px;
    }
  }
}