// Popup style
.registration,
.login,
.contact_form,
.forgot{
  padding: 20px 15px 25px;
  background-color: $white;

  &:not(.modal) {
    margin: 0 -15px;
    border-radius: 2px;
  }

  .sub_title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  input,
  textarea {
    padding: 0 15px;
    height: 42px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
  }

  textarea {
    height: 320px;
    resize: none;
    padding: 15px;
  }

  h3 {
    margin: 0 0 30px;
    font-size: 24px;
    font-weight: 300;
  }

  .input_wrap {
    position: relative;

    &.error {
      input {
        border-color: $red;
      }
    }

    .error {
      position: absolute;
      left: 0;
      bottom: 5px;
      font-size: 12px;
      color: $red;
    }
  }


  .btn {
    padding: 0 32px;
    margin-top: 15px;
    font-size: 15px;

    &-fb {
      width: 100%;
    }
  }

  .modal_links {
    text-align: center;
    margin-top: 20px;

    a {
      line-height: 10px;
      color: $blue;
      display: block;
      padding: 5px 0;
    }
  }

  .or {
    text-align: center;
    position: relative;
    margin-top: 20px;
    color: #909090;

    &:before {
      content: '';
      width: 100%;
      border-top: 1px solid $base-border;
      position: absolute;
      top: 8px;
      left: 0;
      z-index: 1;
    }

    span {
      background-color: $white;
      position: relative;
      z-index: 2;
      padding: 0 12px;
    }
  }

  &.forgot {

    .btn {
      width: 100%;
      text-align: center;
    }

    p {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}

.contact_form {
  input {
    max-width: 300px;
  }
}

@media (min-width: 768px) {

  .registration,
  .login,
  .forgot{
    padding: 40px 40px 45px;

    h3 {
      font-size: 30px;
    }

    .modal_links {
      text-align: right;
      padding: 16px 15px 0 0;
      margin-top: 0;
    }

  }
  .registration,
  .login {
    &:not(.modal) {
      margin: 90px auto 160px;
      max-width: 470px;
    }
  }

  .or {
    margin: 30px 0 20px;
  }

}