.registration {
  padding-top: 25px;
  padding-bottom: 20px;

  h2 {
    line-height: 1;
    text-align: center;
    margin: 0 0 30px;
  }

  input {
    margin-bottom: 10px;
    max-width: 100%;
  }

  .password {
    margin: 20px 0;
  }

  .btn {
    font-size: 14px;
    padding: 0 30px;
    text-transform: uppercase;
    margin-top: 30px;
    width: 100%;
  }


  .or {
    text-align: center;
    position: relative;
    margin: 35px -15px 15px;
    color: #909090;

    &:before {
      content: '';
      width: 100%;
      border-top: 1px solid $borderColor;
      position: absolute;
      top: 11px;
      left: 0;
      z-index: 1;
    }

    span {
      background-color: $white;
      position: relative;
      z-index: 2;
      padding: 0 12px;
    }
  }



  @media (min-width: 768px) {
    background-color: $grey-base;
    padding: 20px 0;
    min-height: calc(100% - 413px);

    .form_wrapper {
      background-color: $white;
      padding: 40px 45px 35px;
    }

    h2 {
      font-size: 30px;
    }

  }

  @media (min-width: 992px) {
    padding-bottom: 60px;
  }

  @media (min-width: 1200px) {
    .form_wrapper {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

.modal.login {
  min-width: inherit;

  @include mobile-only {
    padding: 20px 15px;
  }

  .btn {
    margin-top: 0;
  }

  .modal_links {
    text-align: right;
  }

  input {
    width: 100%;
  }
}