.support {
  padding-bottom: 35px;

  form {
    label {
      color: #6e6e6e;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 3px;
    }

    input[type='text'] {
      max-width: 370px;
      margin-bottom: 10px;
    }

    textarea {
      height: 312px;
      margin-bottom: 25px;
    }

    .btn {
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  @media (min-width: 768px) {
    padding: 0 35px 35px;

    h2 {
      margin: 35px 0 30px;
    }

    form {
      .btn {
        padding: 0 50px;
      }
    }
  }
}

