// Base style (tag only)
* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  @extend %noIndent;
  height: 100%;
}

body {
  background: $base-bg;
  color: $base-text;
}

a {
  color: $blue;
  text-decoration: none;

  &:focus {
    text-decoration: none;
    outline: 2px solid rgba(131,192,253,0.5);
  }

  &:hover,
  &:active{
    color: $black;
    outline-width: 0;
    text-decoration: none;
  }
}


img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  font-size: 16px;
}

ul, ol {
  padding: 0;
}

// Typography style
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

body {
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

b {
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 44px;
  }

}

h2 {
  @media (min-width: 768px) {
    line-height: 56px;
  }
}



// disable placeholder - onfocus/onblur effect
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='search'],
textarea {

    &::-webkit-input-placeholder {color: #6e6e6e !important;}
    &::-moz-placeholder          {color: #6e6e6e !important;;}
    &:-moz-placeholder           {color: #6e6e6e !important;;}
    &:-ms-input-placeholder      {color: #6e6e6e !important;;}

  &:focus {
    &::-webkit-input-placeholder {color: transparent !important;}
    &::-moz-placeholder          {color: transparent !important;;}
    &:-moz-placeholder           {color: transparent !important;;}
    &:-ms-input-placeholder      {color: transparent !important;;}
  }
}