// Fotns include
$first: 1;

@for $i from $first through $base-font-count {
  @font-face {
    font-family: $base-font-name;
    font-style: normal;
    font-weight: map-get($base-font-weight, $i);
    src: local(map-get($base-font-local-1, $i)),
    url('#{$font-path}#{$base-font-path}#{map-get($base-font-file, $i)}.woff2') format('woff2'),
    url('#{$font-path}#{$base-font-path}#{map-get($base-font-file, $i)}.woff') format('woff');
  }
}

@for $i from $first through $extra-font-count {
  @font-face {
    font-family: $extra-font-name;
    font-style: normal;
    font-weight: map-get($extra-font-weight, $i);
    src: local(map-get($extra-font-local-1, $i)),
    url('#{$font-path}#{$extra-font-path}#{map-get($extra-font-file, $i)}.woff2') format('woff2'),
    url('#{$font-path}#{$extra-font-path}#{map-get($extra-font-file, $i)}.woff') format('woff');
  }
}

@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroy-extrabold.woff2') format('woff2'),
  url('../fonts/gilroy-extrabold.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?r3eayp') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon'!important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-hotel:before {
  content: "\e900";
}
.icon-flight:before {
  content: "\e901";
}
.icon-cashback:before {
  content: "\e902";
}

@font-face {
  font-family:'Neo Sans Pro';
  src: url('../fonts/NeoSansProBold.woff2') format('woff2'),
  url('../fonts/NeoSansProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
