.msg {
  padding-top: 15px;

  ul {
    list-style: none;
    margin: 0;
  }

  &_head {

    h2 {
      float: left;
    }

    &.search_active {

      .msg_new,
      .user_current,
      .title,
      .link_back{
        display: none;
      }


      .search_block {
        transition: 300ms;
        width: 100%;
      }

      .search_btn {
        background-color: transparent;
      }


    }

  }

  // top links

  &_links {
    text-align: right;
    float: right;
  }

  .msg_new {
    font-size: 0;
    width: 41px;
    height: 38px;
    padding: 0;
    background: $green url('../img/svg/mail_2.svg') no-repeat center center / 22px;
    display: inline-block;
    vertical-align: top;
    float: right;
  }

  .search_block {
    float: right;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    vertical-align: top;
    width: 40px;
    height: 38px;
    margin-bottom: 25px;

    .search_input {
      border: 0;
      padding-left: 45px;
      width: 100%;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

  }

  .search_btn {
    position: relative;
    z-index: 20;
  }

  @include tablet {

    padding-top: 24px;

    .title {
      margin-bottom: 30px;
    }

    &_head {
      margin-right: -20px;
    }
  }
}