.msg {

  // new message

  &_new {

    .title {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .msg_wrap {
      margin-bottom: 20px;
    }

    .btn_wrap {

      .btn {
        font-size: 14px;
        padding: 0 30px;
        text-transform: uppercase;
      }

      .btn:not(.btn-green) {
        border: 0;
        color: #949494;
        padding: 0 10px;
      }
    }
  }

  &_address {
    background-color: $white;
    box-shadow: 0 3px 7px rgba($black, .16);
    padding: 50px 15px 15px;
    position: absolute;
    left: 18px;
    top: 50px;
    max-width: 320px;
    z-index: 100;

    &_input[type='text'] {
      background-color: transparent;
      font-size: 14px;
      color: $black;
      border: 0;
      line-height: 26px;
      padding-left: 0;
      margin: 0 0 10px;
      max-width: 300px;
      position: relative;
      z-index: 150;
    }

    &_item {
      font-size: 14px;
      line-height: 27px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_name {
      font-weight: 700;
    }

    &_mail {
      color: #acacac;
    }
  }


  // addresses list
  .addresses {
    margin-bottom: 10px;

    li {
      background-color: $grey-base;
      border-radius: 3px;
      display: inline-block;
      padding: 3px 15px 3px 10px;
      margin: 0 5px 5px 0;
    }

    .remove {
      background: url('../img/close-icon.png') no-repeat center center  / 10px 10px;
      float: right;
      width: 10px;
      height: 10px;
      margin: 5px 0 0 45px;
      cursor: pointer;
    }
  }

  @include tablet {

    // new msg
    &_new {

      .title {
       // margin-bottom: 60px;
      }

      .msg_wrap {
        margin: 0 -35px;
        padding: 0 35px 25px;
        border-bottom: 1px solid $borderColor;
      }

      .btn_wrap {
        margin-top: 20px;

        div {
          width: auto;

          + div {
            padding-left: 0;
          }
        }
      }
    }
  }
}