.msg {

  &_list {
    margin-top: 25px;
  }

  &_item {
    padding: 13px 15px;
    margin: 0 -15px;
    background-color: $white;

    &.new {
      background-color: $white;
    }

    &.old {
      background-color: $grey-7;
    }

    &:first-child {
      border-top: 1px solid $borderColor;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }
  }

  &_info {
    display: flex;
    justify-content: space-between;

    &-name {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.29;
      color: $black
    }

    &-mail {
      display: none;
    }

    &-time {
      font-size: 12px;
      line-height: 1.5;
      text-align: right;
      color: $grey-8;
    }
  }

  &_text {
    font-size: 14px;
    line-height: 20px;
    height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }


  @include tablet {

    .msg_new {
      font-size: 14px;
      background-image: none;
      text-transform: uppercase;
      padding: 0 15px;
      width: auto;
    }

    &_item {
      margin: 0 -35px;
      padding-left: 35px;
      padding-right: 15px;
    }


    &_info-mail {
      display: block;
      margin-right: auto;
      background-color: #E5EDEB;
      margin-left: 5px;
      border-radius: 3px;
      font-size: 14px;
      color: $grey-8;
      padding: 0 8px;
    }
  }
}