.msg {

  // users block

  .search_wrap {
    margin: 0 -15px;

    .search {
      border-left: 0;
      border-right: 0;
      margin: 0;
    }
  }

  .scroll-wrap {
    padding: 15px 0;
  }

  .scroll {
    height: 475px;
    margin-left: -15px;
    overflow-y: auto;
  }

  .users_list {
    margin-right: 15px;
  }

  .users_title {
    position: relative;
    transition: 300ms;
    margin-bottom: 0;
    padding-bottom: 20px;

    &:after {
      content: "";
      background: url("../img/svg/down-arrow-black.svg") no-repeat center center / 15px;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 18px;
      height: 10px;
      z-index: 10;
      transform: rotate(180deg);
      transition: 300ms;
    }

    &.active {

      &:after {
        transform: rotate(0deg);
      }
    }
  }

  .user {

    &_item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 8px 15px 8px;
      transition: 250ms;
      position: relative;

      &:hover {
        background-color: $grey-7;

        .new_msg {
          opacity: 1;
          visibility: visible;
        }
      }

      .new_msg {
        width: 40px;
        height: 40px;
        background: url('../img/svg/mail.svg') no-repeat center center / 100% 100%;
        border-radius: 50%;
        margin: 8px 13px 0 auto;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
      }
    }

    &_avatar {
      margin-right: 30px;

      img {
        border-radius: 50%;
        background-color: $grey-base;
      }
    }

    &_info {
      padding-top: 10px;

      &-name {
        font-size: 14px;
        line-height: 1.29;
      }

      &-mail {
        font-size: 12px;
        line-height: 1.5;
        color: $grey-8;
      }
    }
  }


  @include tablet {

    .users_title {
      margin-bottom: 0;
      padding-bottom: 20px;
    }



    .search_wrap {
      margin: 0 -35px;
    }

    .scroll {
      margin-left: -35px;
      margin-right: -20px;
    }

    .user_item {
      padding-right: 0;
    }

  }

  @include medium {

    .users_title {
      text-transform: uppercase;
      font-size: 20px;

      &:after {
        display: none;
      }
    }
  }

  @include large {
    .user_item {
      padding-left: 32px;
      padding-right: 15px;
    }

    .search_wrap {

      .search {
        padding-left: 70px;
        background-position: 35px center;
      }
    }
  }
}