.msg {

  &_open {

    .link_back {
      float: left;
      margin: -22px 20px 2px -32px;
    }

    .msg_list {
      margin-bottom: 15px;
    }

    .msg_item {
      border-bottom: 3px solid $grey-base;

      &:first-child {
        border-top: 3px solid $grey-base;
      }

      .msg_info-mail {
        background-color: transparent;
      }

      .msg_text {
        white-space: normal;
        overflow: visible;
        height: auto;
        padding-right: 45px;
      }

      img{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px 0;
      }
    }

    .user_current {
      float: left;
      display: flex;
      margin-bottom: 15px;

      + .msg_links {
        margin-top: 10px;
      }
    }

    .msg_new_title {
      margin-bottom: 15px;
    }

    .msg_wrap {
      margin-bottom: 20px;
    }
  }

  @include tablet {

    .user_current {
      margin-top: -8px;
      + .msg_links {
        margin-top: 0;
      }
    }
    .msg_new_title {
      margin-bottom: 25px;
    }
  }

}

