<div class="footer_top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 footer_links">
                <div class="row">
                    <div class="col-xs-12 col-md-4 footer_nav_wrap">
                        <div class="footer_nav_title">Компания</div>
                        <ul class="footer_nav">
                            <li><a href="#">О сервисе</a></li>
                            <li><a href="#">Продвижение</a></li>
                            <li><a href="#">Вопросы и ответы</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4 footer_nav_wrap">
                        <div class="footer_nav_title">Материалы</div>
                        <ul class="footer_nav">
                            <li><a href="#">Как это работает</a></li>
                            <li><a href="#">Все материалы</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-4 footer_nav_wrap">
                        <div class="footer_nav_title">Поддержка</div>
                        <ul class="footer_nav">
                            <li><a href="#">Поддержка</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Соглашение</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-4 footer_text">
                <img src="../img/svg/logo_white.svg" alt="My travel Club" width="160">
                <p>
                    Booking.com это сервис для зарегистрированных пользователей мы предлагаем участие в акции при
                    бронировании отелей на Booking.com.
                    С каждого завершенного бронирования вы будете получать 4% от стоимости бронирования на ваш
                    кэшбэк счет.
                </p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-2 footer_info">
                <div class="row">
                    <div class="col-xs-12 col-md-12">

                        <img src="../img/svg/money.svg" alt="money" class="money_img">
                        <div class="money_wrap">
                            <span class="money">€ 20 230</span>
                            <span class="money_title">Выплачено участникам</span>
                        </div>
                    </div>

                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg col-md-12">
                        <ul class="social">
                            <li class="social_item"><a href="#" class="tw"></a></li>
                            <li class="social_item"><a href="#" class="fb"></a></li>
                            <li class="social_item"><a href="#" class="in"></a></li>
                            <li class="social_item"><a href="#" class="g"></a></li>
                            <li class="social_item"><a href="#" class="vk"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="footer_bottom">

    <div class="support">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p class="hidden-md hidden-lg">
                        support@booking.com <br>
                        — техническая поддержка
                    </p>
                </div>

                <div class="hidden-xs col-sm-6">
                    <ul class="social">
                        <li class="social_item"><a href="#" class="tw"></a></li>
                        <li class="social_item"><a href="#" class="fb"></a></li>
                        <li class="social_item"><a href="#" class="in"></a></li>
                        <li class="social_item"><a href="#" class="g"></a></li>
                        <li class="social_item"><a href="#" class="vk"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-5">
                <p>© 2017 www.booking.com <br> Все права защищенны
                </p>
                <p class="hidden-xs hidden-sm"> Кэш-бэк сервис по программе <br>
                    от booking.com</p>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-7">
                <p class="hidden-md hidden-lg"> Кэш-бэк сервис по программе <br>
                    от booking.com</p>

                <p class="hidden-xs hidden-sm sup">
                    support@booking.com <br>
                    — техническая поддержка
                </p>
            </div>
        </div>
    </div>
</div>