<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 header_logo_wrap">
            <h1 class="header_logo">
                <a href="index.html"><img src="../img/svg/logo_white.svg" alt="Trip Club" width="170"></a>
            </h1>
            <button class="btn_hamburger">
                <span class="btn_hamburger_icon"></span>
            </button>
        </div>
        <nav class="col-sm-9 header_nav nav">
            <span class="header_nav_title">Меню</span>
            <ul>
                <li class="nav_item"><a href="blog_new.html" class="nav_link active">Блог</a></li>
                <li class="nav_item sub"><a href="settings.html" class="nav_link">Настройки</a>
                    <ul class="sub_menu">
                        <li class="nav_item"><a class="nav_link" href="settings.html">Основные</a></li>
                        <li class="nav_item"><a class="nav_link" href="settings_custom.html">Кастомизация</a></li>
                        <li class="nav_item"><a class="nav_link" href="settings_api.html">Api</a></li>
                        <li class="nav_item"><a class="nav_link" href="settings_users.html">Права доступа</a></li>
                    </ul>
                </li>
                <li class="nav_item"><a class="nav_link" href="users_list.html">Пользователи</a></li>
                <li class="nav_item"><a class="nav_link" href="bookings.html">Бронирования</a></li>
                <li class="nav_item"><a class="nav_link" href="widget.html">Виждет</a></li>
                <li class="nav_item"><a class="nav_link" href="support.html">Поддержка</a></li>
                <li class="nav_item"><a class="nav_link login" href="registration.html">Вход</a></li>
            </ul>

           <!-- <ul>
                <li class="nav_item"><a class="nav_link" href="#">Зарегистрироваться</a></li>
                <li class="nav_item"><a href="#" class="btn _login">Войти</a></li>
            </ul>-->
        </nav>
    </div>
</div>